In [1]:
import polars as pl
import pandas as pd
import re

from tools.josiedataprep.preparation_functions import _create_set_with_bag_semantic, _create_set_with_set_semantic

In [4]:
# root_dir = '/home/nanni/unimore/tesi-magistrale/data/josie-tests/n45673_mbag'
root_dir = '/home/nanni/unimore/tesi-magistrale/data/josie-tests/n45673_mset'


tables_csv_dir =        '/home/nanni/unimore/tesi-magistrale/data/turl_sloth_wikitables/tables-subset/csv'
josie_sloth_ids_file =  root_dir + '/josie_sloth_ids.csv'
tables_file =           root_dir + '/tables.set'

In [5]:
josie_sloth_ids = pd.read_csv(josie_sloth_ids_file)

In [7]:
# josie_res = pd.read_csv('/home/nanni/unimore/tesi-magistrale/data/josie-tests/n45673_mbag/result_k_5.csv')[['query_id', 'results']]

josie_res = pd.read_csv('/home/nanni/unimore/tesi-magistrale/data/josie-tests/n45673_mset/result_k_5.csv')[['query_id', 'results']]
josie_res

    query_id                                            results
0      47384  s38722o1158s56253o603s18772o540s48260o56s45737o55
1      68509       s69203o45s68747o45s38674o43s11177o34s8287o28
2      24796      s69310o29s32525o24s54512o23s49194o22s25478o22
3       2637       s40234o46s78670o46s7633o45s22982o45s77978o44
4      62436        s8819o29s86983o29s45911o29s2586o29s87353o29
..       ...                                                ...
89      3362        s45755o33s77503o33s47295o33s8178o32s9564o32
90     25305       s31472o73s1893o73s61522o73s62689o73s84146o73
91     79547       s40234o27s85111o27s3416o27s61368o27s25960o27
92     83910       s56686o95s64367o95s40010o95s3069o66s62588o66
93      2696       s86074o55s56222o36s24672o36s1848o34s84071o34

[94 rows x 2 columns]

In [9]:
print('query_id', 'set_id ', 'josie_o', 'my_o')
for row in josie_res.itertuples(index=False):
    qid = row[0]
    if type(row[1]) != str:
        continue
    res = row[1]
    sids, overlaps = re.findall(r'\d+', row[1])[::2], re.findall(r'\d+', row[1])[1::2]
    s_id1 = josie_sloth_ids[josie_sloth_ids['josie_id'] == qid]['sloth_id'].values[0]
    
    for sid, o in zip(sids, overlaps):                
        s_id2 = josie_sloth_ids[josie_sloth_ids['josie_id'] == int(sid)]['sloth_id'].values[0]

        df1 = pd.read_csv(tables_csv_dir + '/' + s_id1)
        df2 = pd.read_csv(tables_csv_dir + '/' + s_id2)

        set1 = _create_set_with_set_semantic(df1)
        set2 = _create_set_with_set_semantic(df2)

        print(qid, '\t', sid, '\t', o, '\t', len(set1.intersection(set2)))
        if abs(len(set1.intersection(set2)) - int(o)) not in (0, 1):
            print('Errore ', s_id1, s_id2)

query_id set_id  josie_o my_o
47384 	 38722 	 1158 	 1158
47384 	 56253 	 603 	 603
47384 	 18772 	 540 	 540
47384 	 48260 	 56 	 56
47384 	 45737 	 55 	 55
68509 	 69203 	 45 	 45
68509 	 68747 	 45 	 45
68509 	 38674 	 43 	 43
68509 	 11177 	 34 	 34
68509 	 8287 	 28 	 28
24796 	 69310 	 29 	 29
24796 	 32525 	 24 	 24
24796 	 54512 	 23 	 23
24796 	 49194 	 22 	 22
24796 	 25478 	 22 	 22
2637 	 40234 	 46 	 47
2637 	 78670 	 46 	 47
2637 	 7633 	 45 	 46
2637 	 22982 	 45 	 46
2637 	 77978 	 44 	 45
62436 	 8819 	 29 	 29
62436 	 86983 	 29 	 29
62436 	 45911 	 29 	 29
62436 	 2586 	 29 	 29
62436 	 87353 	 29 	 29
56235 	 71467 	 65 	 66
56235 	 33659 	 47 	 48
56235 	 56726 	 46 	 47
56235 	 16267 	 46 	 47
56235 	 71923 	 46 	 47
76524 	 87191 	 83 	 84
76524 	 15808 	 83 	 84
76524 	 17022 	 82 	 83
76524 	 47295 	 82 	 83
76524 	 45755 	 82 	 83
69763 	 8038 	 1298 	 1298
69763 	 76600 	 1245 	 1245
69763 	 15779 	 1208 	 1208
69763 	 2833 	 1138 	 1138
69763 	 46562 	 1070 	 1070
15915 	 78878 	 84 	 85
15915 	 25200 	 84 	 85
15915 	 33659 	 67 	 68
15915 	 2016 	 67 	 68
15915 	 55627 	 67 	 68
299 	 57008 	 31 	 32
299 	 46196 	 31 	 32
299 	 18869 	 31 	 32
299 	 40770 	 31 	 32
299 	 79290 	 31 	 32
24990 	 26475 	 86 	 87
24990 	 79295 	 86 	 87
24990 	 70371 	 86 	 87
24990 	 30861 	 86 	 87
24990 	 48377 	 86 	 87
85911 	 61301 	 880 	 880
85911 	 76662 	 21 	 21
85911 	 70960 	 20 	 20
85911 	 41806 	 20 	 20
85911 	 62556 	 18 	 18
53739 	 69512 	 86 	 87
53739 	 84123 	 86 	 87
53739 	 47368 	 86 	 87
53739 	 78535 	 86 	 87
53739 	 18118 	 86 	 87
64254 	 68616 	 53 	 54
64254 	 40038 	 52 	 53
64254 	 63772 	 52 	 53
64254 	 39431 	 51 	 52
64254 	 24693 	 48 	 49
71753 	 69674 	 68 	 69
71753 	 71165 	 68 	 69
71753 	 24471 	 67 	 68
71753 	 38626 	 67 	 68
71753 	 40475 	 67 	 68
33402 	 1347 	 60 	 60
33402 	 47778 	 52 	 52
33402 	 1382 	 52 	 52
33402 	 69688 	 52 	 52
33402 	 8630 	 52 	 52
63008 	 16232 	 65 	 66
63008 	 26404 	 65 	 66
63008 	 33679 	 65 	 66
63008 	 71981 	 65 	 66
63008 	 70948 	 65 	 66
55375 	 56770 	 191 	 192
55375 	 71843 	 93 	 94
55375 	 55528 	 89 	 90
55375 	 76826 	 81 	 82
55375 	 8620 	 80 	 81
38555 	 55461 	 85 	 86
38555 	 1916 	 85 	 86
38555 	 56618 	 85 	 86
38555 	 48172 	 85 	 86
38555 	 41299 	 85 	 86
2833 	 15779 	 1310 	 1310
2833 	 46562 	 1292 	 1292
2833 	 76600 	 1265 	 1265
2833 	 23968 	 1214 	 1214
2833 	 71151 	 1149 	 1149
69691 	 25167 	 73 	 73
69691 	 8802 	 73 	 73
69691 	 8183 	 73 	 73
69691 	 56472 	 73 	 73
69691 	 15419 	 73 	 73
79811 	 33648 	 74 	 75
79811 	 18211 	 74 	 75
79811 	 48218 	 74 	 75
79811 	 70019 	 74 	 75
79811 	 16585 	 74 	 75
18503 	 85635 	 58 	 59
18503 	 63214 	 58 	 59
18503 	 78143 	 58 	 59
18503 	 3020 	 58 	 59
18503 	 25395 	 58 	 59
63262 	 54476 	 80 	 71
Errore  23248869-3 22654073-4
63262 	 68510 	 80 	 71
Errore  23248869-3 22822559-2
63262 	 63484 	 80 	 71
Errore  23248869-3 22893781-2
63262 	 369 	 80 	 71
Errore  23248869-3 23274514-2
63262 	 25832 	 80 	 71
Errore  23248869-3 22879262-4
23079 	 53381 	 28 	 28
23079 	 86983 	 28 	 28
23079 	 34076 	 28 	 28
23079 	 70235 	 28 	 28
23079 	 71111 	 28 	 28
5 	 78271 	 25 	 26
5 	 591 	 25 	 26
5 	 63054 	 25 	 26
5 	 64147 	 25 	 26
5 	 40112 	 25 	 26
62527 	 77740 	 30 	 31
62527 	 40437 	 29 	 30
62527 	 17022 	 29 	 30
62527 	 77503 	 29 	 30
62527 	 41150 	 29 	 30
68669 	 55299 	 66 	 67
68669 	 33800 	 66 	 67
68669 	 48837 	 66 	 67
68669 	 39191 	 66 	 67
68669 	 26480 	 66 	 67
87434 	 85259 	 49 	 49
87434 	 23779 	 49 	 49
87434 	 61134 	 49 	 49
87434 	 16341 	 49 	 49
87434 	 1503 	 49 	 49
56009 	 2640 	 39 	 40
56009 	 56669 	 39 	 40
56009 	 78691 	 38 	 39
56009 	 87521 	 37 	 38
56009 	 46874 	 37 	 38
45862 	 77856 	 81 	 82
45862 	 840 	 81 	 82
45862 	 33419 	 81 	 82
45862 	 9963 	 81 	 82
45862 	 38592 	 81 	 82
78897 	 85532 	 74 	 75
78897 	 84780 	 74 	 75
78897 	 79811 	 74 	 75
78897 	 7963 	 74 	 75
78897 	 61804 	 74 	 75
87223 	 78432 	 113 	 114
87223 	 3441 	 94 	 95
87223 	 18774 	 88 	 89
87223 	 84486 	 85 	 86
87223 	 78722 	 79 	 80
10495 	 15695 	 76 	 74
Errore  32573340-2 6374194-6
10495 	 30463 	 75 	 73
Errore  32573340-2 24088175-1
10495 	 77503 	 74 	 76
Errore  32573340-2 2721921-1
10495 	 68732 	 74 	 75
10495 	 9736 	 73 	 74
1974 	 8964 	 42 	 43
1974 	 24608 	 41 	 42
1974 	 79484 	 41 	 42
1974 	 8096 	 41 	 42
1974 	 23853 	 40 	 41
38210 	 48535 	 22 	 23
38210 	 18244 	 22 	 23
38210 	 18821 	 22 	 23
38210 	 79053 	 22 	 23
38210 	 40769 	 21 	 22
15779 	 76600 	 1344 	 1344
15779 	 2833 	 1310 	 1310
15779 	 69763 	 1208 	 1208
15779 	 46562 	 1207 	 1207
15779 	 8038 	 1149 	 1149
30665 	 77503 	 86 	 87
30665 	 45755 	 86 	 87
30665 	 41167 	 86 	 87
30665 	 87191 	 85 	 86
30665 	 57028 	 85 	 86
62521 	 32294 	 100 	 83
Errore  36264789-1 36296486-1
62521 	 15974 	 100 	 83
Errore  36264789-1 36235610-1
62521 	 38567 	 100 	 83
Errore  36264789-1 36307323-1
62521 	 46928 	 100 	 83
Errore  36264789-1 33748863-1
62521 	 55440 	 100 	 83
Errore  36264789-1 36217350-1
54806 	 64527 	 17 	 17
54806 	 9168 	 17 	 17
54806 	 626 	 17 	 17
54806 	 56182 	 17 	 17
54806 	 56183 	 17 	 17
78466 	 70502 	 44 	 45
78466 	 46242 	 44 	 45
78466 	 77090 	 44 	 45
78466 	 7832 	 44 	 45
78466 	 55634 	 44 	 45
70635 	 71130 	 115 	 116
70635 	 79017 	 103 	 104
70635 	 41825 	 71 	 72
70635 	 55698 	 28 	 29
70635 	 31245 	 25 	 26
17909 	 24199 	 53 	 50
Errore  31821554-3 28983247-2
17909 	 79184 	 53 	 50
Errore  31821554-3 3390893-6
17909 	 70075 	 53 	 50
Errore  31821554-3 35989536-2
17909 	 71334 	 53 	 50
Errore  31821554-3 35936966-2
17909 	 85146 	 53 	 50
Errore  31821554-3 35978295-2
25655 	 46351 	 72 	 72
25655 	 46109 	 72 	 72
25655 	 149 	 72 	 72
25655 	 49074 	 72 	 72
25655 	 41539 	 71 	 71
31909 	 64322 	 279 	 279
31909 	 61038 	 101 	 101
31909 	 61172 	 101 	 101
31909 	 1743 	 6 	 6
31909 	 85994 	 6 	 6
10181 	 17415 	 25 	 26
10181 	 56751 	 25 	 26
10181 	 23227 	 25 	 26
10181 	 79224 	 25 	 26
10181 	 41257 	 25 	 26
30918 	 8832 	 39 	 40
30918 	 17974 	 39 	 40
30918 	 62771 	 39 	 40
30918 	 16219 	 39 	 40
30918 	 30842 	 39 	 40
76600 	 15779 	 1344 	 1344
76600 	 2833 	 1265 	 1265
76600 	 69763 	 1245 	 1245
76600 	 8038 	 1184 	 1184
76600 	 46562 	 1177 	 1177
15695 	 30463 	 231 	 225
Errore  6374194-6 24088175-1
15695 	 79281 	 220 	 230
Errore  6374194-6 17798215-1
15695 	 77503 	 219 	 240
Errore  6374194-6 2721921-1
15695 	 45755 	 218 	 240
Errore  6374194-6 2721878-1
15695 	 2522 	 215 	 213
Errore  6374194-6 6374194-7
71100 	 63309 	 72 	 67
Errore  13619027-4 3051362-7
71100 	 38414 	 72 	 67
Errore  13619027-4 28439241-3
71100 	 77119 	 72 	 67
Errore  13619027-4 17382272-2
71100 	 48467 	 72 	 67
Errore  13619027-4 28436352-3
71100 	 53493 	 72 	 67
Errore  13619027-4 17382349-3
55145 	 7808 	 19 	 19
55145 	 15456 	 19 	 19
55145 	 31162 	 19 	 19
55145 	 10141 	 19 	 19
55145 	 78609 	 19 	 19
39967 	 40234 	 55 	 56
39967 	 40216 	 54 	 55
39967 	 33907 	 54 	 55
39967 	 38540 	 53 	 54
39967 	 31780 	 53 	 54
55619 	 9248 	 274 	 275
55619 	 71151 	 50 	 78
Errore  13877-5 16832187-1
55619 	 76600 	 50 	 78
Errore  13877-5 16517223-1
55619 	 32254 	 50 	 78
Errore  13877-5 29580412-1
55619 	 23968 	 50 	 78
Errore  13877-5 16717744-1
26179 	 69809 	 1337 	 1337
26179 	 71896 	 1272 	 1272
26179 	 47028 	 1109 	 1109
26179 	 15602 	 399 	 399
26179 	 56376 	 387 	 387
77334 	 40475 	 88 	 89
77334 	 69674 	 87 	 88
77334 	 38626 	 86 	 87
77334 	 24471 	 85 	 86
77334 	 79877 	 84 	 85
39043 	 30463 	 71 	 60
Errore  7656984-2 24088175-1
39043 	 68732 	 71 	 61
Errore  7656984-2 17807553-1
39043 	 77503 	 69 	 61
Errore  7656984-2 2721921-1
39043 	 9736 	 65 	 58
Errore  7656984-2 8679095-1
39043 	 79688 	 64 	 58
Errore  7656984-2 2305656-4
38840 	 79363 	 33 	 34
38840 	 18372 	 33 	 34
38840 	 78836 	 33 	 34
38840 	 86484 	 33 	 34
38840 	 17263 	 33 	 34
41655 	 47357 	 76 	 77
41655 	 31005 	 74 	 75
41655 	 38886 	 69 	 70
41655 	 39247 	 68 	 69
41655 	 38337 	 67 	 68
54622 	 61006 	 81 	 75
Errore  36358130-11 36216650-4
54622 	 78261 	 81 	 75
Errore  36358130-11 36812299-10
54622 	 478 	 81 	 75
Errore  36358130-11 36292158-10
54622 	 32105 	 81 	 75
Errore  36358130-11 36250203-12
54622 	 60903 	 81 	 75
Errore  36358130-11 36421813-11
85634 	 47421 	 82 	 83
85634 	 1836 	 82 	 83
85634 	 63272 	 82 	 83
85634 	 2114 	 82 	 83
85634 	 49196 	 81 	 82
68887 	 2781 	 73 	 73
68887 	 25458 	 73 	 73
68887 	 78187 	 73 	 73
68887 	 8802 	 73 	 73
68887 	 15419 	 73 	 73
32614 	 61561 	 1246 	 1246
32614 	 15602 	 242 	 242
32614 	 77503 	 214 	 214
32614 	 41150 	 213 	 213
32614 	 87191 	 212 	 212
39182 	 39053 	 14 	 14
39182 	 77251 	 14 	 14
39182 	 38856 	 13 	 13
39182 	 53890 	 13 	 13
39182 	 70520 	 12 	 12
25220 	 78165 	 96 	 96
25220 	 55294 	 12 	 12
25220 	 10436 	 7 	 7
25220 	 9154 	 7 	 7
25220 	 3700 	 7 	 7
16861 	 2423 	 30 	 31
16861 	 16791 	 28 	 29
16861 	 46473 	 28 	 29
16861 	 24048 	 27 	 28
16861 	 10690 	 27 	 28
56253 	 18772 	 1197 	 1197
56253 	 47384 	 603 	 603
56253 	 38722 	 507 	 507
56253 	 48260 	 75 	 75
56253 	 45737 	 74 	 74
3204 	 46713 	 85 	 86
3204 	 8339 	 85 	 86
3204 	 61450 	 85 	 86
3204 	 41771 	 85 	 86
3204 	 7700 	 85 	 86
18430 	 55925 	 72 	 73
18430 	 2764 	 72 	 73
18430 	 32337 	 72 	 73
18430 	 47966 	 72 	 73
18430 	 7874 	 72 	 73
31617 	 8096 	 61 	 62
31617 	 24608 	 60 	 61
31617 	 79484 	 59 	 60
31617 	 84071 	 58 	 59
31617 	 8964 	 58 	 59
77054 	 86983 	 27 	 27
77054 	 77272 	 27 	 27
77054 	 68764 	 27 	 27
77054 	 77958 	 27 	 27
77054 	 49047 	 27 	 27
33112 	 79084 	 44 	 45
33112 	 47045 	 43 	 44
33112 	 55633 	 29 	 30
33112 	 84197 	 29 	 30
33112 	 8185 	 29 	 30
54925 	 38313 	 1085 	 1085
54925 	 61561 	 208 	 208
54925 	 32614 	 136 	 136
54925 	 17791 	 107 	 107
54925 	 86615 	 90 	 90
1579 	 15754 	 379 	 380
1579 	 17022 	 376 	 377
1579 	 33930 	 369 	 370
1579 	 40437 	 368 	 369
1579 	 45755 	 368 	 369
33922 	 53535 	 421 	 421
33922 	 23952 	 403 	 403
33922 	 9510 	 342 	 342
33922 	 3134 	 327 	 327
33922 	 31644 	 311 	 311
34001 	 40843 	 55 	 56
34001 	 9704 	 55 	 56
34001 	 25783 	 55 	 56
34001 	 2073 	 55 	 56
34001 	 38816 	 55 	 56
8681 	 77360 	 1472 	 1473
8681 	 15602 	 292 	 293
8681 	 87191 	 276 	 277
8681 	 40437 	 241 	 242
8681 	 8620 	 237 	 238
79256 	 25726 	 84 	 85
79256 	 23813 	 84 	 85
79256 	 48543 	 84 	 85
79256 	 3577 	 84 	 85
79256 	 54133 	 84 	 85
9621 	 512 	 82 	 83
9621 	 2269 	 82 	 83
9621 	 48100 	 82 	 83
9621 	 41713 	 82 	 83
9621 	 55591 	 82 	 83
61928 	 55197 	 64 	 65
61928 	 30463 	 64 	 65
61928 	 47295 	 64 	 65
61928 	 87191 	 64 	 65
61928 	 40437 	 64 	 65
63400 	 26050 	 47 	 48
63400 	 8096 	 35 	 36
63400 	 40498 	 34 	 35
63400 	 24608 	 34 	 35
63400 	 79484 	 34 	 35
41210 	 77163 	 48 	 48
41210 	 53858 	 41 	 41
41210 	 2081 	 41 	 41
41210 	 26551 	 40 	 40
41210 	 24955 	 40 	 40
53535 	 33922 	 421 	 421
53535 	 23952 	 374 	 374
53535 	 9510 	 374 	 374
53535 	 3134 	 354 	 354
53535 	 31644 	 334 	 334
47842 	 39640 	 26 	 26
47842 	 7801 	 26 	 26
47842 	 61144 	 26 	 26
47842 	 17557 	 26 	 26
47842 	 86666 	 26 	 26
78454 	 16734 	 56 	 56
78454 	 76866 	 56 	 56
78454 	 40255 	 55 	 55
78454 	 84668 	 55 	 55
78454 	 41076 	 55 	 55
30973 	 47422 	 62 	 63
30973 	 25634 	 62 	 63
30973 	 10918 	 62 	 63
30973 	 61224 	 62 	 63
30973 	 63989 	 62 	 63
84501 	 64299 	 62 	 63
84501 	 54376 	 62 	 63
84501 	 53419 	 62 	 63
84501 	 72288 	 62 	 63
84501 	 31852 	 62 	 63
25841 	 49290 	 58 	 59
25841 	 10868 	 58 	 59
25841 	 49067 	 58 	 59
25841 	 85898 	 58 	 59
25841 	 25070 	 58 	 59
23769 	 33552 	 197 	 197
23769 	 62910 	 190 	 190
23769 	 79187 	 119 	 119
23769 	 40613 	 115 	 115
23769 	 78249 	 105 	 105
1017 	 87353 	 28 	 28
1017 	 62436 	 28 	 28
1017 	 86983 	 28 	 28
1017 	 53381 	 28 	 28
1017 	 45911 	 28 	 28
3362 	 45755 	 33 	 34
3362 	 77503 	 33 	 34
3362 	 47295 	 33 	 34
3362 	 8178 	 32 	 33
3362 	 9564 	 32 	 33
25305 	 31472 	 73 	 67
Errore  17657056-3 3103296-7
25305 	 1893 	 73 	 67
Errore  17657056-3 28129725-3
25305 	 61522 	 73 	 67
Errore  17657056-3 28129314-3
25305 	 62689 	 73 	 67
Errore  17657056-3 17382360-3
25305 	 84146 	 73 	 67
Errore  17657056-3 28149379-3
79547 	 40234 	 27 	 28
79547 	 85111 	 27 	 28
79547 	 3416 	 27 	 28
79547 	 61368 	 27 	 28
79547 	 25960 	 27 	 28
83910 	 56686 	 95 	 96
83910 	 64367 	 95 	 96
83910 	 40010 	 95 	 96
83910 	 3069 	 66 	 67
83910 	 62588 	 66 	 67
2696 	 86074 	 55 	 56
2696 	 56222 	 36 	 37
2696 	 24672 	 36 	 37
2696 	 1848 	 34 	 35
2696 	 84071 	 34 	 35

In [20]:
df1 = pd.read_csv(tables_csv_dir + f'/30476492-2')
df2 = pd.read_csv(tables_csv_dir + f'/11383852-3')

In [22]:
df1.convert_dtypes()

    Rank         Nation  Gold  Silver  Bronze  Total
0      1          China    10       4       0     14
1      2          [[|]]     0       2       1      3
2      3          [[|]]     0       1       3      4
3      4      Australia     0       1       1      2
4      4         Canada     0       1       1      2
5      6  United States     0       1       0      1
6      7          [[|]]     0       0       2      2
7      8          Italy     0       0       1      1
8      8          [[|]]     0       0       1      1
9  Total          Total    10      10      10     30

In [17]:
df2

,Team,1979,1983,1987,1991,1995,1999,2003,2007,2009,2011,2013,Total
0,[[|]],NaN,13th,NaN,13th,14th,NaN,13th,NaN,14th,NaN,NaN,5.0
1,[[|]],3rd,7th,NaN,3rd,6th,4th,10th,6th,5th,4th,12th,10.0
2,Australia,9th,10th,5th,11th,2nd,5th,1st,5th,4th,6th,4th,11.0
3,[[|]],2nd,3rd,10th,7th,NaN,8th,NaN,4th,NaN,9th,10th,8.0
4,Canada,7th,14th,6th,8th,NaN,NaN,NaN,10th,7th,11th,6th,8.0
5,China,NaN,11th,9th,10th,9th,15th,14th,12th,NaN,13th,7th,9.0
6,Chinese Taipei,NaN,NaN,11th,NaN,NaN,NaN,NaN,NaN,NaN,14th,NaN,2.0
7,[[|]],NaN,NaN,NaN,NaN,4th,3rd,4th,NaN,3rd,8th,8th,6.0
8,[[|]],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14th,1.0
9,[[|]],NaN,9th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
10,[[|]],12th,NaN,NaN,NaN,NaN,13th,NaN,NaN,11th,12th,NaN,4.0
11,[[|]],NaN,NaN,NaN,NaN,8th,NaN,NaN,3rd,8th,NaN,NaN,3.0
12,[[|]],NaN,NaN,NaN,NaN,1st,7th,3rd,NaN,2nd,NaN,NaN,4.0
13,[[|]],NaN,NaN,NaN,NaN,NaN,NaN,16th,NaN,15th,NaN,11th,3.0
14,Italy,6th,6th,3rd,2nd,13th,NaN,NaN,NaN,NaN,NaN,NaN,5.0
15,[[|]],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15th,1.0
16,[[|]],NaN,NaN,NaN,16th,NaN,14th,NaN,NaN,NaN,NaN,NaN,2.0
17,[[|]],NaN,NaN,NaN,NaN,16th,NaN,NaN,NaN,NaN,NaN,NaN,1.0
18,[[|]],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12th,NaN,NaN,1.0
19,Korea,NaN,NaN,NaN,NaN,15th,NaN,12th,11th,NaN,15th,13th,5.0
20,[[|]],NaN,NaN,NaN,NaN,NaN,9th,NaN,NaN,NaN,10th,NaN,2.0
21,[[|]],NaN,NaN,NaN,NaN,NaN,NaN,NaN,14th,NaN,NaN,NaN,1.0
22,[[|]],NaN,NaN,NaN,NaN,5th,NaN,2nd,9th,9th,1st,3rd,6.0
23,[[|]],NaN,NaN,NaN,NaN,NaN,NaN,15th,NaN,NaN,NaN,NaN,1.0
24,[[|]],NaN,NaN,NaN,NaN,NaN,NaN,NaN,15th,NaN,NaN,NaN,1.0
25,New Zealand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13th,NaN,NaN,1.0
26,[[|]],NaN,NaN,12th,15th,11th,11th,11th,13th,NaN,NaN,NaN,6.0
27,[[|]],11th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
28,[[|]],10th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
29,[[|]],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7th,NaN,1.0
30,[[|]],NaN,NaN,NaN,NaN,NaN,16th,NaN,NaN,NaN,NaN,NaN,1.0
31,[[|]],NaN,NaN,8th,NaN,10th,NaN,6th,16th,6th,NaN,NaN,5.0
32,[[|]],NaN,NaN,NaN,NaN,NaN,10th,NaN,NaN,NaN,NaN,NaN,1.0
33,[[|]],NaN,NaN,NaN,5th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
34,[[|]],NaN,NaN,NaN,NaN,NaN,6th,NaN,NaN,NaN,3rd,9th,3.0
35,[[|]],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16th,1.0
36,[[|]],NaN,NaN,NaN,NaN,NaN,NaN,NaN,1st,NaN,2nd,2nd,3.0
37,[[|]],NaN,NaN,NaN,NaN,NaN,NaN,7th,NaN,NaN,NaN,NaN,1.0
38,Soviet Union,5th,2nd,7th,9th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
39,[[|]],NaN,4th,NaN,6th,3rd,1st,NaN,8th,10th,NaN,5th,7.0
40,[[|]],NaN,NaN,NaN,12th,NaN,NaN,NaN,NaN,16th,NaN,NaN,2.0
41,[[|]],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16th,NaN,1.0
42,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,8th,7th,NaN,NaN,NaN,2.0
43,[[|]],8th,12th,NaN,14th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
44,United States,1st,1st,2nd,1st,7th,2nd,5th,2nd,1st,5th,1st,11.0
45,[[|]],NaN,NaN,NaN,NaN,12th,12th,9th,NaN,NaN,NaN,NaN,3.0
46,West Germany,NaN,5th,4th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
47,[[|]],4th,8th,1st,4th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
48,Total,12,14,12,16,16,16,16,16,16,16,9,NaN