In [1]:
import polars as pl
import pandas as pd

In [20]:
root_dir = '/home/nanni/unimore/tesi-magistrale/data/josie-tests/n45673-mset'

tables_csv_dir =        '/home/nanni/unimore/tesi-magistrale/data/turl_sloth_wikitables/tables-subset/csv'
josie_sloth_ids_file =  root_dir + '/josie_sloth_ids.csv'
tables_file =           root_dir + '/tables.set'

In [21]:
josie_sloth_ids = pd.read_csv(josie_sloth_ids_file)

In [22]:
def _create_set_with_all_tokens(df, bag:bool=False):
    if not bag:
        if type(df) == pd.DataFrame:
            return {str(token).replace('\n', '\t').replace('|', ' ') for i in range(len(df.columns)) for token in df.iloc[:, i].unique() if not pd.isna(token) and token}
        elif type(df) == pl.DataFrame:
            pass

In [23]:
# s 18513 o14    s 25167 o14  s 8183 o14
j_id1 = 56472
j_id2 = 8183

s_id1 = josie_sloth_ids[josie_sloth_ids['josie_id'] == j_id1]['sloth_id'].values[0]
s_id2 = josie_sloth_ids[josie_sloth_ids['josie_id'] == j_id2]['sloth_id'].values[0]

df1 = pd.read_csv(tables_csv_dir + '/' + s_id1, sep='\t')
df2 = pd.read_csv(tables_csv_dir + '/' + s_id2, sep='\t')

set1 = _create_set_with_all_tokens(df1)
set2 = _create_set_with_all_tokens(df2)

print(len(set1.intersection(set2)))

14

In [24]:
josie_res = pd.read_csv('/home/nanni/unimore/tesi-magistrale/data/josie-tests/n45673-mset/result_k_3.csv')[['query_id', 'results']]
josie_res

    query_id                      results
0      39225                          NaN
1      45711                          NaN
2      56472   s18513o14s25167o14s8183o14
3      85911                    s61301o81
4      85935     s78773o2s40069o1s77954o1
..       ...                          ...
89     46109    s25655o54s149o54s46351o53
90      2915      s10872o2s9923o1s46797o1
91      8606                          NaN
92     34076  s33958o26s70235o25s68864o25
93     86645                          NaN

[94 rows x 2 columns]

In [36]:
import re

print('query_id', 'set_id ', 'josie_o', 'my_o')
for row in josie_res.itertuples(index=False):
    qid = row[0]
    if type(row[1]) != str:
        continue
    res = row[1]
    sids, overlaps = re.findall(r'\d+', row[1])[::2], re.findall(r'\d+', row[1])[1::2]
    s_id1 = josie_sloth_ids[josie_sloth_ids['josie_id'] == qid]['sloth_id'].values[0]
    
    for sid, o in zip(sids, overlaps):                
        s_id2 = josie_sloth_ids[josie_sloth_ids['josie_id'] == int(sid)]['sloth_id'].values[0]

        df1 = pd.read_csv(tables_csv_dir + '/' + s_id1, sep='\t')
        df2 = pd.read_csv(tables_csv_dir + '/' + s_id2, sep='\t')

        set1 = _create_set_with_all_tokens(df1)
        set2 = _create_set_with_all_tokens(df2)

        print(qid, '\t', sid, '\t', o, '\t', len(set1.intersection(set2)))

query_id set_id  josie_o my_o
56472 	 18513 	 14 	 14
56472 	 25167 	 14 	 14
56472 	 8183 	 14 	 14
85911 	 61301 	 81 	 81
85935 	 78773 	 2 	 2
85935 	 40069 	 1 	 1
85935 	 77954 	 1 	 1
537 	 2906 	 10 	 10
33855 	 69558 	 15 	 15
33855 	 78799 	 14 	 14
33855 	 23590 	 12 	 12
1101 	 48276 	 15 	 15
1101 	 48907 	 15 	 15
1101 	 1026 	 15 	 15
53535 	 33922 	 134 	 134
53535 	 23952 	 94 	 94
53535 	 9510 	 41 	 41
1017 	 8017 	 20 	 20
1017 	 26156 	 19 	 19
1017 	 78441 	 19 	 19
591 	 63917 	 1 	 1
591 	 15955 	 1 	 1
591 	 18844 	 1 	 1
55878 	 61366 	 23 	 23
70482 	 1101 	 15 	 15
70482 	 2499 	 15 	 15
70482 	 78622 	 15 	 15
25050 	 1582 	 19 	 19
25050 	 49341 	 19 	 19
25050 	 1451 	 19 	 19
38277 	 3297 	 16 	 16
38277 	 39509 	 8 	 8
38277 	 40539 	 8 	 8
71874 	 47085 	 16 	 16
71874 	 48172 	 16 	 16
71874 	 38949 	 16 	 16
77763 	 76992 	 14 	 14
77763 	 85675 	 14 	 14
77763 	 1458 	 14 	 14
56253 	 47384 	 3 	 3
56253 	 38722 	 2 	 2
63456 	 15647 	 24 	 24
63456 	 62953 	 24 	 24
63456 	 7848 	 24 	 24
62403 	 62913 	 25 	 25
62403 	 38624 	 24 	 24
62403 	 86666 	 24 	 24
23442 	 41643 	 22 	 22
23442 	 61052 	 22 	 22
23442 	 17828 	 22 	 22
3147 	 10055 	 22 	 22
3147 	 23864 	 22 	 22
3147 	 3018 	 22 	 22
25200 	 15915 	 9 	 9
63259 	 10457 	 26 	 26
63259 	 852 	 26 	 26
63259 	 32488 	 26 	 26
9325 	 54515 	 1 	 1
9325 	 56308 	 1 	 1
2833 	 15779 	 3 	 3
2833 	 76600 	 2 	 2
2833 	 23968 	 1 	 1
7670 	 24077 	 15 	 16
7670 	 53361 	 15 	 16
7670 	 25761 	 15 	 16
23182 	 46300 	 9 	 9
23182 	 53347 	 9 	 9
23182 	 18210 	 9 	 9
87508 	 70905 	 20 	 20
87508 	 38288 	 17 	 17
87508 	 72071 	 16 	 16
2110 	 71759 	 12 	 13
2110 	 85465 	 12 	 13
2110 	 69476 	 12 	 13
76606 	 70031 	 77 	 77
76606 	 57024 	 60 	 60
76606 	 16869 	 59 	 59
77761 	 54253 	 14 	 15
77761 	 71536 	 14 	 15
77761 	 31214 	 14 	 15
61336 	 24377 	 6 	 6
61336 	 24449 	 5 	 5
61336 	 9219 	 3 	 3
55720 	 41651 	 15 	 15
55720 	 47047 	 15 	 15
55720 	 782 	 15 	 15
84106 	 78931 	 22 	 22
56278 	 23141 	 16 	 16
56278 	 47372 	 16 	 16
56278 	 1073 	 16 	 16
26179 	 69809 	 2 	 2
84304 	 86512 	 16 	 16
84304 	 77717 	 16 	 16
84304 	 62221 	 16 	 16
23968 	 46562 	 1 	 1
23968 	 2833 	 1 	 1
41395 	 48293 	 17 	 17
41395 	 1106 	 17 	 17
41395 	 77560 	 17 	 17
8398 	 34245 	 12 	 12
8398 	 78920 	 12 	 12
8398 	 10716 	 12 	 12
69443 	 32336 	 12 	 12
1895 	 23470 	 16 	 16
48713 	 2619 	 11 	 11
48713 	 18175 	 11 	 11
48713 	 910 	 11 	 11
49061 	 70943 	 22 	 22
49061 	 1380 	 22 	 22
49061 	 69433 	 22 	 22
78497 	 16789 	 75 	 75
77588 	 2162 	 22 	 22
77588 	 23442 	 22 	 22
77588 	 61052 	 22 	 22
84674 	 30674 	 7 	 7
84674 	 45693 	 7 	 7
84674 	 1237 	 7 	 7
25220 	 78165 	 57 	 57
8681 	 77360 	 294 	 294
57014 	 64605 	 21 	 21
2162 	 62022 	 22 	 22
2162 	 55032 	 22 	 22
2162 	 41643 	 22 	 22
68858 	 3244 	 20 	 20
68858 	 30704 	 17 	 17
63977 	 7974 	 21 	 21
63977 	 40882 	 21 	 21
63977 	 3435 	 21 	 21
86084 	 55839 	 9 	 9
86084 	 68900 	 9 	 9
86084 	 78768 	 3 	 3
47384 	 38722 	 383 	 383
47384 	 56253 	 3 	 3
39140 	 61505 	 12 	 12
39140 	 25818 	 12 	 12
39140 	 53730 	 12 	 12
77045 	 70661 	 2 	 2
77045 	 63940 	 2 	 2
77045 	 49188 	 1 	 1
8330 	 38900 	 10 	 10
8330 	 46929 	 10 	 10
8330 	 2107 	 10 	 10
61904 	 70481 	 15 	 16
61904 	 71076 	 15 	 16
61904 	 31575 	 15 	 16
39773 	 47200 	 16 	 16
39773 	 61981 	 16 	 16
39773 	 31223 	 16 	 16
11108 	 64506 	 19 	 19
11108 	 71025 	 19 	 19
11108 	 62787 	 19 	 19
25148 	 86609 	 12 	 12
25148 	 16276 	 12 	 12
25148 	 69011 	 12 	 12
46109 	 25655 	 54 	 54
46109 	 149 	 54 	 54
46109 	 46351 	 53 	 53
2915 	 10872 	 2 	 2
2915 	 9923 	 1 	 1
2915 	 46797 	 1 	 1
34076 	 33958 	 26 	 26
34076 	 70235 	 25 	 25
34076 	 68864 	 25 	 25