In [1]:
import os
import jsonlines
import random
import pandas as pd
from time import time
from tqdm.notebook import tqdm
from itertools import product

from code.fasttext.embedding_utils import TableEncoder
from code.utils.settings import DefaultPath
from code.utils.utils import rebuild_table

import chromadb

In [2]:
# medium size db, with metadata
chroma_client = chromadb.PersistentClient(DefaultPath.db_path.chroma + 'single_collection' + 'v_0_25000_add_label_False')

tabenc = TableEncoder()

In [3]:
sloth_tested_pairs = pd.read_csv(
    DefaultPath.data_path.wikitables + 'train_set_turl_malaguti.csv'
)

In [4]:
ids = list(set(sloth_tested_pairs['r_id']).union(sloth_tested_pairs['s_id']))
len(ids)

113098

In [ ]:
RANDOM_ID_UPPER_BOUND = 500000

In [6]:
print(jsonlines.Reader.iter.__doc__)

        Iterate over all lines.

        This is the iterator equivalent to repeatedly calling
        :py:meth:`~Reader.read()`. If no arguments are specified, this
        is the same as directly iterating over this :py:class:`Reader`
        instance.

        When `skip_invalid` is set to ``True``, invalid lines will be
        silently ignored.

        See :py:meth:`~Reader.read()` for a description of the other
        arguments.

In [5]:
def get_random_table

wikitables = {}

with jsonlines.open(DefaultPath.data_path.wikitables + 'medium_train_tables.jsonl', 'r') as reader:
    for obj in reader:
        wikitables[obj['_id']] = obj

In [13]:
random_id = ids[random.randint(0, len(ids))]
# random_id = '34163802-12'
random_id

'34163802-12'

In [14]:
table = rebuild_table(wikitables[random_id])
table

       Blue Group              Skip  W  L
0   United States     Korey Dropkin  7  0
1     Switzerland   Michael Brunner  6  1
2  Czech Republic   Marek Černovský  4  3
3           China          Bai Yang  3  4
4          Norway   Markus Skogvold  3  4
5     South Korea     Kang Sue-yeon  2  5
6     New Zealand       Luke Steele  2  5
7         Estonia  Robert-Kent Päll  1  6

In [15]:
row_embeddings, columns_embeddings = tabenc.full_embedding(table)

In [16]:
chroma_client.list_collections()

[Collection(name=column-base), Collection(name=row-base)]

In [17]:
res = chroma_client \
    .get_collection('row-base') \
        .query(
            query_embeddings=[row_embeddings[0].tolist()],
            n_results=20,
            where={'table_id': {"$ne": random_id}},
            include=['metadatas', 'distances']
        )
res['ids']

[['34163295-11#0',
  '34116170-5#0',
  '31320420-16#6',
  '26467694-14#0',
  '31320420-18#6',
  '39394739-6#6',
  '6927800-16#0',
  '17089081-1#0',
  '40746958-6#6',
  '34960687-5#7',
  '15263714-1#0',
  '14938467-1#2',
  '14938467-1#0',
  '14938301-1#0',
  '31152396-1#4',
  '37985834-1#0',
  '4672654-9#2',
  '13292247-8#5',
  '27600119-1#2',
  '1184881-2#3']]

In [18]:
print(random_id, 0)
table.loc[0].tolist()

34163802-12 0

['United States', 'Korey Dropkin', '7', '0']

In [19]:
table_res = []
for rank, r in enumerate(res['ids'][0]):
    table_id, row_id = r.split('#')
    print(f"#{rank} table_id={table_id}, row_id={row_id}, distance={res['distances'][0][rank]}")
    table_res.append(rebuild_table(wikitables[table_id]))
    print(table_res[-1].loc[int(row_id)].tolist(), end='\n\n')

#0 table_id=34163295-11, row_id=0, distance=0.0
['United States', 'Korey Dropkin', '7', '0']

#1 table_id=34116170-5, row_id=0, distance=0.0
['United States', 'Korey Dropkin', '7', '0']

#2 table_id=31320420-16, row_id=6, distance=0.04128605127334595
['7', 'Switzerland', '0.960', '+0.001']

#3 table_id=26467694-14, row_id=0, distance=0.0443727970123291
['FEU Tamaraws', '7', '0', '--']

#4 table_id=31320420-18, row_id=6, distance=0.045673269778490067
['7', 'Austria', '0.955', '+0.003']

#5 table_id=39394739-6, row_id=6, distance=0.04576185345649719
['7', 'Colón', '0', '']

#6 table_id=6927800-16, row_id=0, distance=0.04729574918746948
['FEU Lady Tamaraws', '7', '0', '--']

#7 table_id=17089081-1, row_id=0, distance=0.048360053449869156
['', 'Italy (ITA)', '7', '0']

#8 table_id=40746958-6, row_id=6, distance=0.05248917266726494
['7', 'Perak', '0', '']

#9 table_id=34960687-5, row_id=7, distance=0.05280337482690811
['Poland', 'Eugeniusz Blaszczak', '0', '7']

#10 table_id=15263714-1, row_id=0, distance=0.05705337971448898
['1968 Mexico City', '7', '0', '–']

#11 table_id=14938467-1, row_id=2, distance=0.06723317503929138
['1996 Atlanta', '7', '0', '–']

#12 table_id=14938467-1, row_id=0, distance=0.07367071509361267
['1988 Seoul', '7', '0', '–']

#13 table_id=14938301-1, row_id=0, distance=0.07367071509361267
['1988 Seoul', '7', '0', '–']

#14 table_id=31152396-1, row_id=4, distance=0.07695542275905609
['2005', 'Ventforet Kofu', 'J. League 2', '7', '0', '-', '-', '7', '0']

#15 table_id=37985834-1, row_id=0, distance=0.07919421792030334
['2012–13', 'Vojvodina', 'SuperLiga', '7', '0', '-', '-', '-', '7', '0']

#16 table_id=4672654-9, row_id=2, distance=0.08541223406791687
['Cape Canaveral', 'United States', '7', '7', '0', '0', '']

#17 table_id=13292247-8, row_id=5, distance=0.11249078065156937
['Kourou', 'France', '7', '7', '0', '0', '']

#18 table_id=27600119-1, row_id=2, distance=0.11597101390361786
['Flamengo', '2012', '7', '0', '5', '0', '-', '-', '-', '-', '-', '12', '0']

#19 table_id=1184881-2, row_id=3, distance=0.11960534751415253
['United States', '2007', '7', '0']

In [20]:
table_res[0]

       Blue Group              Skip  W  L
0   United States     Korey Dropkin  7  0
1     Switzerland   Michael Brunner  6  1
2  Czech Republic   Marek Černovský  4  3
3           China          Bai Yang  3  4
4          Norway   Markus Skogvold  3  4
5     South Korea     Kang Sue-yeon  2  5
6     New Zealand       Luke Steele  2  5
7         Estonia  Robert-Kent Päll  1  6

In [21]:
table_res[1]

       Blue Group              Skip  W  L
0   United States     Korey Dropkin  7  0
1     Switzerland   Michael Brunner  6  1
2  Czech Republic   Marek Černovský  4  3
3           China          Bai Yang  3  4
4          Norway   Markus Skogvold  3  4
5     South Korea     Kang Sue-yeon  2  5
6     New Zealand       Luke Steele  2  5
7         Estonia  Robert-Kent Päll  1  6

In [22]:
table_res[9]

       Group B                 Skip  W  L
0       Sweden       Jalle Jungnell  6  1
1  Switzerland           Urs Bucher  6  1
2       Canada            Chris Daw  5  2
3  South Korea         Kim Hak-sung  5  2
4        Italy      Egidio Marchese  3  4
5     Bulgaria          Ivan Chopov  2  5
6      Germany           Jens Jäger  1  6
7       Poland  Eugeniusz Blaszczak  0  7

In [28]:
random2_id = ids[random.randint(0, len(ids))]
row2_embeddings, column2_embeddings = tabenc.full_embedding(
    rebuild_table(wikitables[random2_id])
)

big_res = chroma_client \
    .get_collection('column-base') \
        .query(
            query_embeddings=column2_embeddings.tolist(),
            n_results=20,
            where={'table_id': {"$ne": random2_id}},
            include=['metadatas', 'distances']
        )

In [29]:
big_res

{'ids': [['1122759-2#0',
   '1122914-4#0',
   '1122807-2#0',
   '1123018-4#0',
   '1122814-2#0',
   '1122657-3#0',
   '1122899-2#0',
   '1122667-2#0',
   '1123085-5#0',
   '1122761-2#0',
   '1122900-2#0',
   '1122790-2#0',
   '1123093-4#0',
   '1123054-5#0',
   '36643612-2#0',
   '16278496-4#0',
   '19429974-2#0',
   '26917365-1#0',
   '38992245-4#0',
   '36036510-6#0'],
  ['36689903-6#6',
   '36689783-10#7',
   '36690022-1#5',
   '36690022-1#6',
   '36689984-8#6',
   '36689984-5#6',
   '28926087-6#3',
   '36690022-19#6',
   '36690022-19#5',
   '36690022-19#4',
   '28935165-1#4',
   '36689984-8#4',
   '36690022-1#4',
   '28935006-1#4',
   '36057138-1#4',
   '13979587-1#3',
   '17633684-1#1',
   '17633696-2#0',
   '17633684-2#0',
   '17633709-2#0'],
  ['5858994-10#1',
   '37513707-2#2',
   '31211860-1#2',
   '31211860-2#2',
   '31226882-1#6',
   '31226882-1#3',
   '24035057-2#2',
   '28699093-1#2',
   '28699454-6#2',
   '28699564-6#2',
   '39828330-3#1',
   '25108961-1#2',
   '35826606-26#2',
   '35820014-8#2',
   '14506569-2#1',
   '28223644-1#2',
   '14837029-1#3',
   '1736167-1#1',
   '40199178-2#3',
   '40199178-2#5'],
  ['28631764-5#0',
   '28631802-5#0',
   '23850374-5#0',
   '29636563-2#0',
   '17666917-2#0',
   '32162306-4#0',
   '32155723-3#0',
   '37206880-3#0',
   '37206949-2#0',
   '37207021-1#0',
   '37206920-1#0',
   '23790885-1#0',
   '30323308-5#0',
   '36643612-1#0',
   '27088751-1#0',
   '31317245-4#0',
   '18982963-2#0',
   '13090726-12#0',
   '35756629-3#0',
   '35765899-3#0'],
  ['5094308-5#1',
   '5114500-4#1',
   '379616-4#3',
   '8639682-1#5',
   '8639682-1#4',
   '2931042-2#1',
   '2931042-2#3',
   '11949127-4#2',
   '19647426-5#3',
   '2080183-2#2',
   '5405274-3#2',
   '5402131-2#1',
   '5402131-2#3',
   '1520225-6#3',
   '33755977-4#4',
   '11685919-3#2',
   '26457506-4#2',
   '6334248-3#2',
   '5421601-1#2',
   '5424763-1#3'],
  ['23966840-1#4',
   '24651084-2#2',
   '35394125-2#4',
   '32480669-2#1',
   '35098507-1#5',
   '16704014-3#7',
   '23095379-1#6',
   '17867451-1#4',
   '24604385-1#4',
   '1056425-1#3',
   '19539468-1#4',
   '23577130-1#5',
   '17765115-1#4',
   '5356157-10#3',
   '25491646-3#5',
   '36489297-2#4',
   '26604438-1#4',
   '26160100-1#4',
   '17867361-2#4',
   '17589468-1#4'],
  ['37207021-1#5',
   '18591227-1#8',
   '17867321-2#8',
   '30518692-6#5',
   '4069977-5#5',
   '37358124-1#5',
   '37206880-3#5',
   '36039394-2#8',
   '35985453-2#8',
   '11872705-1#8',
   '32122023-1#3',
   '4658327-3#3',
   '19794672-2#20',
   '24319561-1#5',
   '9560980-1#4',
   '8805600-8#6',
   '40529318-2#4',
   '40807026-1#9',
   '40807035-1#9',
   '18416011-1#3'],
  ['15087697-2#7',
   '22160889-1#7',
   '15303343-1#7',
   '15303343-1#8',
   '3945626-2#19',
   '36663384-2#5',
   '35487645-3#5',
   '35904373-1#5',
   '36722020-1#5',
   '24421328-1#8',
   '27525541-1#5',
   '35944112-1#3',
   '38885662-2#3',
   '2214852-1#5',
   '16863026-8#9',
   '24604400-4#9',
   '36020321-8#6',
   '32109385-3#2',
   '18188390-1#6',
   '15780049-2#5'],
  ['26754064-1#5',
   '22402983-3#3',
   '29030410-1#2',
   '13991324-4#3',
   '30653569-2#9',
   '3719116-2#8',
   '11073723-1#6',
   '13907764-4#4',
   '14347256-11#5',
   '10479907-1#8',
   '17839198-1#8',
   '13907764-4#3',
   '38162680-2#8',
   '2429811-2#6',
   '30197625-1#3',
   '14106649-3#3',
   '31089246-1#3',
   '22679498-3#3',
   '18159701-2#11',
   '26835952-1#5'],
  ['21225542-8#9',
   '5666896-5#1',
   '21257470-3#4',
   '24604777-5#5',
   '17867559-1#3',
   '3515511-9#8',
   '21020170-7#3',
   '28893721-5#6',
   '4593621-1#3',
   '15903133-1#4',
   '18054310-1#3',
   '28699642-4#5',
   '20573370-1#5',
   '24604247-3#5',
   '24421365-1#3',
   '21632470-1#7',
   '33955848-2#7',
   '40528310-1#6',
   '37224063-1#4',
   '37188327-1#4'],
  ['36689903-6#6',
   '36689783-10#7',
   '36690022-1#5',
   '36690022-1#6',
   '36689984-8#6',
   '36689984-5#6',
   '28926087-6#3',
   '36690022-19#6',
   '36690022-19#5',
   '36690022-19#4',
   '28935165-1#4',
   '36689984-8#4',
   '36690022-1#4',
   '28935006-1#4',
   '36057138-1#4',
   '13979587-1#3',
   '17633684-1#1',
   '17633696-2#0',
   '17633684-2#0',
   '17633709-2#0']],
 'distances': [[0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0],
  [0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326,
   0.004113664384931326],
  [0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0],
  [0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573,
   0.13102570176124573],
  [0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0],
  [0.007145354058593512,
   0.02300320193171501,
   0.035137444734573364,
   0.035137444734573364,
   0.03701212257146835,
   0.03719480335712433,
   0.03719480335712433,
   0.04299541935324669,
   0.04339923337101936,
   0.04651373252272606,
   0.04719049111008644,
   0.048121191561222076,
   0.04845103994011879,
   0.050811413675546646,
   0.050811413675546646,
   0.053184058517217636,
   0.053184058517217636,
   0.05363600701093674,
   0.05417735502123833,
   0.05444116145372391],
  [0.12397675216197968,
   0.1266544610261917,
   0.1320635825395584,
   0.13626757264137268,
   0.13626757264137268,
   0.13626757264137268,
   0.13732796907424927,
   0.14476117491722107,
   0.14476117491722107,
   0.14491859078407288,
   0.15092971920967102,
   0.15092971920967102,
   0.1518757939338684,
   0.16230005025863647,
   0.16230636835098267,
   0.16370482742786407,
   0.1637514978647232,
   0.16766072809696198,
   0.16766072809696198,
   0.1683533936738968],
  [0.06483322381973267,
   0.07636317610740662,
   0.0767938643693924,
   0.08967700600624084,
   0.09106402844190598,
   0.09325069934129715,
   0.09325069934129715,
   0.09325069934129715,
   0.09325069934129715,
   0.10422727465629578,
   0.10710649192333221,
   0.10778873413801193,
   0.10920974612236023,
   0.11352719366550446,
   0.11815347522497177,
   0.12225224077701569,
   0.12593354284763336,
   0.12799477577209473,
   0.1280771940946579,
   0.12819615006446838],
  [0.10483136773109436,
   0.11273737996816635,
   0.12242303043603897,
   0.12450656294822693,
   0.1303965151309967,
   0.13294927775859833,
   0.13778850436210632,
   0.1424185186624527,
   0.14540985226631165,
   0.14608119428157806,
   0.14631570875644684,
   0.14680986106395721,
   0.1494193822145462,
   0.15100890398025513,
   0.15428541600704193,
   0.15512901544570923,
   0.15837275981903076,
   0.16179519891738892,
   0.16243569552898407,
   0.1706276535987854],
  [0.0,
   0.03866686671972275,
   0.03866686671972275,
   0.05220654606819153,
   0.055659256875514984,
   0.05899819731712341,
   0.059796009212732315,
   0.06185807287693024,
   0.06690933555364609,
   0.07016405463218689,
   0.07237794995307922,
   0.07252895087003708,
   0.07318907231092453,
   0.07980754971504211,
   0.08091350644826889,
   0.08100374042987823,
   0.08192500472068787,
   0.08253376185894012,
   0.08393532037734985,
   0.08393532037734985],
  [0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181,
   0.08250594884157181]],
 'metadatas': [[{'table_id': '1122759-2'},
   {'table_id': '1122914-4'},
   {'table_id': '1122807-2'},
   {'table_id': '1123018-4'},
   {'table_id': '1122814-2'},
   {'table_id': '1122657-3'},
   {'table_id': '1122899-2'},
   {'table_id': '1122667-2'},
   {'table_id': '1123085-5'},
   {'table_id': '1122761-2'},
   {'table_id': '1122900-2'},
   {'table_id': '1122790-2'},
   {'table_id': '1123093-4'},
   {'table_id': '1123054-5'},
   {'table_id': '36643612-2'},
   {'table_id': '16278496-4'},
   {'table_id': '19429974-2'},
   {'table_id': '26917365-1'},
   {'table_id': '38992245-4'},
   {'table_id': '36036510-6'}],
  [{'table_id': '36689903-6'},
   {'table_id': '36689783-10'},
   {'table_id': '36690022-1'},
   {'table_id': '36690022-1'},
   {'table_id': '36689984-8'},
   {'table_id': '36689984-5'},
   {'table_id': '28926087-6'},
   {'table_id': '36690022-19'},
   {'table_id': '36690022-19'},
   {'table_id': '36690022-19'},
   {'table_id': '28935165-1'},
   {'table_id': '36689984-8'},
   {'table_id': '36690022-1'},
   {'table_id': '28935006-1'},
   {'table_id': '36057138-1'},
   {'table_id': '13979587-1'},
   {'table_id': '17633684-1'},
   {'table_id': '17633696-2'},
   {'table_id': '17633684-2'},
   {'table_id': '17633709-2'}],
  [{'table_id': '5858994-10'},
   {'table_id': '37513707-2'},
   {'table_id': '31211860-1'},
   {'table_id': '31211860-2'},
   {'table_id': '31226882-1'},
   {'table_id': '31226882-1'},
   {'table_id': '24035057-2'},
   {'table_id': '28699093-1'},
   {'table_id': '28699454-6'},
   {'table_id': '28699564-6'},
   {'table_id': '39828330-3'},
   {'table_id': '25108961-1'},
   {'table_id': '35826606-26'},
   {'table_id': '35820014-8'},
   {'table_id': '14506569-2'},
   {'table_id': '28223644-1'},
   {'table_id': '14837029-1'},
   {'table_id': '1736167-1'},
   {'table_id': '40199178-2'},
   {'table_id': '40199178-2'}],
  [{'table_id': '28631764-5'},
   {'table_id': '28631802-5'},
   {'table_id': '23850374-5'},
   {'table_id': '29636563-2'},
   {'table_id': '17666917-2'},
   {'table_id': '32162306-4'},
   {'table_id': '32155723-3'},
   {'table_id': '37206880-3'},
   {'table_id': '37206949-2'},
   {'table_id': '37207021-1'},
   {'table_id': '37206920-1'},
   {'table_id': '23790885-1'},
   {'table_id': '30323308-5'},
   {'table_id': '36643612-1'},
   {'table_id': '27088751-1'},
   {'table_id': '31317245-4'},
   {'table_id': '18982963-2'},
   {'table_id': '13090726-12'},
   {'table_id': '35756629-3'},
   {'table_id': '35765899-3'}],
  [{'table_id': '5094308-5'},
   {'table_id': '5114500-4'},
   {'table_id': '379616-4'},
   {'table_id': '8639682-1'},
   {'table_id': '8639682-1'},
   {'table_id': '2931042-2'},
   {'table_id': '2931042-2'},
   {'table_id': '11949127-4'},
   {'table_id': '19647426-5'},
   {'table_id': '2080183-2'},
   {'table_id': '5405274-3'},
   {'table_id': '5402131-2'},
   {'table_id': '5402131-2'},
   {'table_id': '1520225-6'},
   {'table_id': '33755977-4'},
   {'table_id': '11685919-3'},
   {'table_id': '26457506-4'},
   {'table_id': '6334248-3'},
   {'table_id': '5421601-1'},
   {'table_id': '5424763-1'}],
  [{'table_id': '23966840-1'},
   {'table_id': '24651084-2'},
   {'table_id': '35394125-2'},
   {'table_id': '32480669-2'},
   {'table_id': '35098507-1'},
   {'table_id': '16704014-3'},
   {'table_id': '23095379-1'},
   {'table_id': '17867451-1'},
   {'table_id': '24604385-1'},
   {'table_id': '1056425-1'},
   {'table_id': '19539468-1'},
   {'table_id': '23577130-1'},
   {'table_id': '17765115-1'},
   {'table_id': '5356157-10'},
   {'table_id': '25491646-3'},
   {'table_id': '36489297-2'},
   {'table_id': '26604438-1'},
   {'table_id': '26160100-1'},
   {'table_id': '17867361-2'},
   {'table_id': '17589468-1'}],
  [{'table_id': '37207021-1'},
   {'table_id': '18591227-1'},
   {'table_id': '17867321-2'},
   {'table_id': '30518692-6'},
   {'table_id': '4069977-5'},
   {'table_id': '37358124-1'},
   {'table_id': '37206880-3'},
   {'table_id': '36039394-2'},
   {'table_id': '35985453-2'},
   {'table_id': '11872705-1'},
   {'table_id': '32122023-1'},
   {'table_id': '4658327-3'},
   {'table_id': '19794672-2'},
   {'table_id': '24319561-1'},
   {'table_id': '9560980-1'},
   {'table_id': '8805600-8'},
   {'table_id': '40529318-2'},
   {'table_id': '40807026-1'},
   {'table_id': '40807035-1'},
   {'table_id': '18416011-1'}],
  [{'table_id': '15087697-2'},
   {'table_id': '22160889-1'},
   {'table_id': '15303343-1'},
   {'table_id': '15303343-1'},
   {'table_id': '3945626-2'},
   {'table_id': '36663384-2'},
   {'table_id': '35487645-3'},
   {'table_id': '35904373-1'},
   {'table_id': '36722020-1'},
   {'table_id': '24421328-1'},
   {'table_id': '27525541-1'},
   {'table_id': '35944112-1'},
   {'table_id': '38885662-2'},
   {'table_id': '2214852-1'},
   {'table_id': '16863026-8'},
   {'table_id': '24604400-4'},
   {'table_id': '36020321-8'},
   {'table_id': '32109385-3'},
   {'table_id': '18188390-1'},
   {'table_id': '15780049-2'}],
  [{'table_id': '26754064-1'},
   {'table_id': '22402983-3'},
   {'table_id': '29030410-1'},
   {'table_id': '13991324-4'},
   {'table_id': '30653569-2'},
   {'table_id': '3719116-2'},
   {'table_id': '11073723-1'},
   {'table_id': '13907764-4'},
   {'table_id': '14347256-11'},
   {'table_id': '10479907-1'},
   {'table_id': '17839198-1'},
   {'table_id': '13907764-4'},
   {'table_id': '38162680-2'},
   {'table_id': '2429811-2'},
   {'table_id': '30197625-1'},
   {'table_id': '14106649-3'},
   {'table_id': '31089246-1'},
   {'table_id': '22679498-3'},
   {'table_id': '18159701-2'},
   {'table_id': '26835952-1'}],
  [{'table_id': '21225542-8'},
   {'table_id': '5666896-5'},
   {'table_id': '21257470-3'},
   {'table_id': '24604777-5'},
   {'table_id': '17867559-1'},
   {'table_id': '3515511-9'},
   {'table_id': '21020170-7'},
   {'table_id': '28893721-5'},
   {'table_id': '4593621-1'},
   {'table_id': '15903133-1'},
   {'table_id': '18054310-1'},
   {'table_id': '28699642-4'},
   {'table_id': '20573370-1'},
   {'table_id': '24604247-3'},
   {'table_id': '24421365-1'},
   {'table_id': '21632470-1'},
   {'table_id': '33955848-2'},
   {'table_id': '40528310-1'},
   {'table_id': '37224063-1'},
   {'table_id': '37188327-1'}],
  [{'table_id': '36689903-6'},
   {'table_id': '36689783-10'},
   {'table_id': '36690022-1'},
   {'table_id': '36690022-1'},
   {'table_id': '36689984-8'},
   {'table_id': '36689984-5'},
   {'table_id': '28926087-6'},
   {'table_id': '36690022-19'},
   {'table_id': '36690022-19'},
   {'table_id': '36690022-19'},
   {'table_id': '28935165-1'},
   {'table_id': '36689984-8'},
   {'table_id': '36690022-1'},
   {'table_id': '28935006-1'},
   {'table_id': '36057138-1'},
   {'table_id': '13979587-1'},
   {'table_id': '17633684-1'},
   {'table_id': '17633696-2'},
   {'table_id': '17633684-2'},
   {'table_id': '17633709-2'}]],
 'embeddings': None,
 'documents': None,
 'uris': None,
 'data': None}

In [35]:
from collections import defaultdict

freq = defaultdict(int)

for idres in big_res['ids']:
    for id in idres:
        table_id, item_id = id.split('#')
        freq[table_id] += 1

s = sorted([{'table_id': tid, 'f': f} for tid, f in freq.items()], key=lambda d: d['f'], reverse=True)[:5]
s

[{'table_id': '36690022-1', 'f': 6},
 {'table_id': '36690022-19', 'f': 6},
 {'table_id': '36689984-8', 'f': 4},
 {'table_id': '36689903-6', 'f': 2},
 {'table_id': '36689783-10', 'f': 2}]

In [37]:
table

       Blue Group              Skip  W  L
0   United States     Korey Dropkin  7  0
1     Switzerland   Michael Brunner  6  1
2  Czech Republic   Marek Černovský  4  3
3           China          Bai Yang  3  4
4          Norway   Markus Skogvold  3  4
5     South Korea     Kang Sue-yeon  2  5
6     New Zealand       Luke Steele  2  5
7         Estonia  Robert-Kent Päll  1  6

In [36]:
rebuild_table(wikitables[s[0]['table_id']])

        Type             Name    Title        Royal house    From      To Refs
0  Sovereign  Ptolemy I Soter  Pharaoh  Ptolemaic dynasty  305 BC  285 BC

In [38]:
rebuild_table(wikitables[s[1]['table_id']])

        Type          Name      Title Royal house    From      To Refs
0  Sovereign  Énna Aignech  High King   Milesians  313 BC  293 BC

In [39]:
rebuild_table(wikitables[s[2]['table_id']])

,Type,Name,Title,Royal house,From,To,Refs
0,Sovereign,Seleucus I Nicator,King,Seleucid dynasty,305 BC,September 281 BC,