In [1]:
import os
import time
import pandas as pd

from code.fasttext.embedding_utils import TableEncoder

In [2]:
data_path = '/home/giovanni/unimore/TESI/src/data'

In [3]:
datasets = {
    dataset: data_path + os.sep + data_dir + os.sep + dataset
    for data_dir in os.listdir(data_path)
    for dataset in os.listdir(data_path + os.sep + data_dir)
}

datasets

{'Premier_League_2.csv': '/home/giovanni/unimore/TESI/src/data/uk_football/Premier_League_2.csv',
 'List_of_football_stadiums_in_England_1.csv': '/home/giovanni/unimore/TESI/src/data/uk_football/List_of_football_stadiums_in_England_1.csv',
 'Premier_League_1.csv': '/home/giovanni/unimore/TESI/src/data/uk_football/Premier_League_1.csv',
 'List_of_national_forests_of_the_United_States_1.csv': '/home/giovanni/unimore/TESI/src/data/us_national_forests/List_of_national_forests_of_the_United_States_1.csv',
 'List_of_presidents_of_the_United_States_1.csv': '/home/giovanni/unimore/TESI/src/data/us_presidents/List_of_presidents_of_the_United_States_1.csv',
 'nations_by_gdp.csv': '/home/giovanni/unimore/TESI/src/data/nations_gdp_pop/nations_by_gdp.csv',
 'nations_by_population.csv': '/home/giovanni/unimore/TESI/src/data/nations_gdp_pop/nations_by_population.csv',
 'List_of_national_parks_of_the_United_States_1.csv': '/home/giovanni/unimore/TESI/src/data/us_national_parks/List_of_national_parks_of_the_United_States_1.csv',
 'List_of_national_parks_of_the_United_States_2.csv': '/home/giovanni/unimore/TESI/src/data/us_national_parks/List_of_national_parks_of_the_United_States_2.csv'}

In [4]:
tabenc = TableEncoder()

I test andrebbero fatti svuotando ogni volta la memoria...

## Column Embedding Time

In [5]:
# should include also metadata about column types
stat = pd.DataFrame(columns=['dataset', 'rows', 'columns', 'time(s)'])

for dname, dpath in datasets.items():
    df = pd.read_csv(dpath).dropna(axis='columns', how='all')
    single_start_time = time.time()
    tabenc.create_column_embeddings(df)
    delta = (time.time() - single_start_time)

    stat.loc[len(stat)] = [dname, df.shape[0], df.shape[1], delta]

stat.loc[len(stat)] = ['Total', stat['rows'].sum(), stat['columns'].sum(), stat['time(s)'].sum()]
stat['time(%)'] = stat['time(s)'] / stat.loc[len(stat) - 1, 'time(s)'] 
stat

,dataset,rows,columns,time(s),time(%)
0,Premier_League_2.csv,20,6,0.276152,0.030319
1,List_of_football_stadiums_in_England_1.csv,147,6,1.357774,0.149071
2,Premier_League_1.csv,20,4,0.156605,0.017194
3,List_of_national_forests_of_the_United_States_...,134,5,2.477481,0.272005
4,List_of_presidents_of_the_United_States_1.csv,46,6,0.561271,0.061623
5,nations_by_gdp.csv,230,8,2.178468,0.239176
6,nations_by_population.csv,241,6,0.972540,0.106776
7,List_of_national_parks_of_the_United_States_1.csv,63,6,1.105119,0.121332
8,List_of_national_parks_of_the_United_States_2.csv,32,4,0.022804,0.002504
9,Total,933,51,9.108215,1.000000

## Row Embedding Time

In [6]:
stat = pd.DataFrame(columns=['dataset', 'rows', 'columns', 'time(s)'])

for dname, dpath in datasets.items():
    df = pd.read_csv(dpath).dropna(axis='columns', how='all')
    single_start_time = time.time()
    tabenc.create_row_embeddings(df)
    delta = (time.time() - single_start_time)

    stat.loc[len(stat)] = [dname, df.shape[0], df.shape[1], delta]

stat.loc[len(stat)] = ['Total', stat['rows'].sum(), stat['columns'].sum(), stat['time(s)'].sum()]
stat['time(%)'] = stat['time(s)'] / stat.loc[len(stat) - 1, 'time(s)'] 
stat

,dataset,rows,columns,time(s),time(%)
0,Premier_League_2.csv,20,6,0.300833,0.031741
1,List_of_football_stadiums_in_England_1.csv,147,6,1.867650,0.197053
2,Premier_League_1.csv,20,4,0.167578,0.017681
3,List_of_national_forests_of_the_United_States_...,134,5,3.393761,0.358072
4,List_of_presidents_of_the_United_States_1.csv,46,6,0.679350,0.071677
5,nations_by_gdp.csv,230,8,1.288926,0.135993
6,nations_by_population.csv,241,6,0.917203,0.096773
7,List_of_national_parks_of_the_United_States_1.csv,63,6,0.768134,0.081045
8,List_of_national_parks_of_the_United_States_2.csv,32,4,0.094448,0.009965
9,Total,933,51,9.477884,1.000000

## Total Embedding Time

In [7]:
stat = pd.DataFrame(columns=['dataset', 'rows', 'columns', 'time(s)'])

for dname, dpath in datasets.items():
    df = pd.read_csv(dpath).dropna(axis='columns', how='all')
    single_start_time = time.time()
    tabenc.create_column_embeddings(df)
    tabenc.create_row_embeddings(df)
    delta = (time.time() - single_start_time)

    stat.loc[len(stat)] = [dname, df.shape[0], df.shape[1], delta]

stat.loc[len(stat)] = ['Total', stat['rows'].sum(), stat['columns'].sum(), stat['time(s)'].sum()]
stat['time(%)'] = stat['time(s)'] / stat.loc[len(stat) - 1, 'time(s)'] 
stat

,dataset,rows,columns,time(s),time(%)
0,Premier_League_2.csv,20,6,0.282397,0.033005
1,List_of_football_stadiums_in_England_1.csv,147,6,1.658751,0.193863
2,Premier_League_1.csv,20,4,0.239876,0.028035
3,List_of_national_forests_of_the_United_States_...,134,5,3.381881,0.395251
4,List_of_presidents_of_the_United_States_1.csv,46,6,0.253522,0.029630
5,nations_by_gdp.csv,230,8,0.898745,0.105039
6,nations_by_population.csv,241,6,0.773303,0.090378
7,List_of_national_parks_of_the_United_States_1.csv,63,6,1.002865,0.117208
8,List_of_national_parks_of_the_United_States_2.csv,32,4,0.064947,0.007591
9,Total,933,51,8.556285,1.000000