In [ ]:
import jsonlines
import pandas as pd

In [ ]:
sloth_tested_pairs = pd.read_csv(
    '/home/giovanni/unimore/TESI/src/data/train_set_turl_malaguti.csv',
    nrows=1000
    )
sloth_tested_pairs

           r_id        s_id      jsim  o_a        a%
0      857959-5    956801-5  1.000000    6  1.000000
1    14763133-1  15182906-1  0.827586   38  0.826087
2    15182906-1  33954290-1  0.787879   32  0.615385
3    14772277-1  32928438-1  0.900000   36  0.692308
4    31534804-2  32612781-1  0.300000    8  0.111111
..          ...         ...       ...  ...       ...
995  27340139-4  33030049-4  1.000000   21  1.000000
996  31200308-1  31802539-1  0.666667    4  0.666667
997  15181195-1  32928401-1  0.900000   48  0.960000
998  34374076-1   6755735-3  0.500000   40  0.208333
999   5997386-1   8649085-1  0.600000    4  0.666667

[1000 rows x 5 columns]

# Loading a subset of TURL training dataset

In [ ]:
sloth_tested_pairs = pd.read_csv(
    '/home/giovanni/unimore/TESI/src/data/train_set_turl_malaguti.csv',
    nrows=1000
    )
sloth_tested_pairs

           r_id        s_id      jsim  o_a        a%
0      857959-5    956801-5  1.000000    6  1.000000
1    14763133-1  15182906-1  0.827586   38  0.826087
2    15182906-1  33954290-1  0.787879   32  0.615385
3    14772277-1  32928438-1  0.900000   36  0.692308
4    31534804-2  32612781-1  0.300000    8  0.111111
..          ...         ...       ...  ...       ...
995  27340139-4  33030049-4  1.000000   21  1.000000
996  31200308-1  31802539-1  0.666667    4  0.666667
997  15181195-1  32928401-1  0.900000   48  0.960000
998  34374076-1   6755735-3  0.500000   40  0.208333
999   5997386-1   8649085-1  0.600000    4  0.666667

[1000 rows x 5 columns]

In [ ]:
ids = set(sloth_tested_pairs['r_id']).union(sloth_tested_pairs['s_id'])
len(ids)

1905

In [ ]:
tables = []

In [ ]:
with jsonlines.open('/home/giovanni/unimore/TESI/src/data/train_tables.jsonl', 'r') as reader:
    for obj in reader:
        if obj['_id'] in ids:
            ids.remove(obj['_id'])
            tables.append(obj)
            if len(ids) % 100 == 0:
                print(f"Still missing {len(ids)} tables")

Still missing 1900 tables
Still missing 1800 tables
Still missing 1700 tables
Still missing 1600 tables
Still missing 1500 tables
Still missing 1400 tables
Still missing 1300 tables
Still missing 1200 tables
Still missing 1100 tables
Still missing 1000 tables
Still missing 900 tables
Still missing 800 tables
Still missing 700 tables
Still missing 600 tables
Still missing 500 tables
Still missing 400 tables
Still missing 300 tables
Still missing 200 tables
Still missing 100 tables
Still missing 0 tables

In [ ]:
len(tables)

1904

In [ ]:
with jsonlines.open('/home/giovanni/unimore/TESI/src/data/small_train_tables.jsonl', mode='w') as writer:
    writer.write_all(tables)