In [2]:
import jsonlines
import pandas as pd

In [3]:
sloth_tested_pairs = pd.read_csv(
    '/home/giovanni/unimore/TESI/src/data/train_set_turl_malaguti.csv',
    nrows=10000
    )
sloth_tested_pairs

            r_id         s_id      jsim  o_a        a%
0       857959-5     956801-5  1.000000    6  1.000000
1     14763133-1   15182906-1  0.827586   38  0.826087
2     15182906-1   33954290-1  0.787879   32  0.615385
3     14772277-1   32928438-1  0.900000   36  0.692308
4     31534804-2   32612781-1  0.300000    8  0.111111
...          ...          ...       ...  ...       ...
9995  10866704-2  22726048-14  0.375000    3  0.250000
9996  31255608-1   36306977-1  0.720588   72  0.857143
9997    254258-1     475054-1  0.545455    4  0.400000
9998  17765209-1   30429671-2  0.318182   10  0.100000
9999  19135659-1   35279077-2  0.281481   20  0.128205

[10000 rows x 5 columns]

# Loading a subset of TURL training dataset

In [4]:
ids = set(sloth_tested_pairs['r_id']).union(sloth_tested_pairs['s_id'])
len(ids)

14209

In [5]:
tables = []

In [6]:
with jsonlines.open('/home/giovanni/unimore/TESI/src/data/train_tables.jsonl', 'r') as reader:
    for obj in reader:
        if obj['_id'] in ids:
            ids.remove(obj['_id'])
            tables.append(obj)
            if len(ids) % 500 == 0:
                print(f"Still missing {len(ids)} tables")
        if not ids:
            break

Still missing 14000 tables
Still missing 13500 tables
Still missing 13000 tables
Still missing 12500 tables
Still missing 12000 tables
Still missing 11500 tables
Still missing 11000 tables
Still missing 10500 tables
Still missing 10000 tables
Still missing 9500 tables
Still missing 9000 tables
Still missing 8500 tables
Still missing 8000 tables
Still missing 7500 tables
Still missing 7000 tables
Still missing 6500 tables
Still missing 6000 tables
Still missing 5500 tables
Still missing 5000 tables
Still missing 4500 tables
Still missing 4000 tables
Still missing 3500 tables
Still missing 3000 tables
Still missing 2500 tables
Still missing 2000 tables
Still missing 1500 tables
Still missing 1000 tables
Still missing 500 tables
Still missing 0 tables

In [11]:
len(tables)

14209

In [8]:
with jsonlines.open('/home/giovanni/unimore/TESI/src/data/medium_train_tables.jsonl', mode='w') as writer:
    writer.write_all(tables)