In [52]:
import numpy as np
import pandas as pd

from code.fasttext.embedding_utils import TableEncoder

In [53]:
tabenc = TableEncoder()

In [54]:
pl1_df = pd.read_csv(
    '/home/giovanni/unimore/TESI/src/data/uk_football/List_of_football_stadiums_in_England_1.csv'
)
pl1_df.head()

,Rank\n(England only),Stadium,Town / City,Capacity,Team,League,Image
0,1.0,Wembley Stadium,"Wembley, London","90,000","England (Men's, women's and youth)",NaN,NaN
1,2.0,Old Trafford,"Old Trafford, Greater Manchester","74,031",Manchester United,Premier League,NaN
2,3.0,Tottenham Hotspur Stadium,"Tottenham, London","62,850",Tottenham Hotspur,Premier League,NaN
3,4.0,London Stadium,"Stratford, London","62,500",West Ham United,Premier League,NaN
4,5.0,Anfield,"Anfield, Liverpool","61,276",Liverpool,Premier League,NaN

In [58]:
add_label =     False 
remove_numbers =   False

row_emb, col_emb = tabenc.full_embedding(pl1_df, add_label, remove_numbers)

In [59]:
row_emb.shape, col_emb.shape

((147, 300), (7, 300))

In [60]:
basic_col_emb = np.array(tabenc.create_column_embeddings(pl1_df, add_label, remove_numbers))
basic_col_emb.shape

(7, 300)

In [61]:
basic_row_emb = np.array(tabenc.create_row_embeddings(pl1_df, add_label, remove_numbers))
basic_row_emb.shape

(147, 300)

In [62]:
from code.fasttext.embedding_utils import np_cosine_similarity

for i in range(col_emb.shape[0]):
    print(f'{i}#: {np_cosine_similarity(basic_col_emb[i], col_emb[i])}')

0#: 1.0000000000000004
1#: 1.0
2#: 1.0
3#: nan
4#: 1.0000000000000002
5#: 0.9999999999999998
6#: 0.9999999999994396

In [63]:
for i in range(row_emb.shape[0]):
    print(f'{i}#: {np_cosine_similarity(basic_row_emb[i], row_emb[i])}')

0#: 1.0000000000000002
1#: 1.0000000000000004
2#: 0.9999999999999999
3#: 1.0
4#: 1.0
5#: 1.0
6#: 0.9999999999999999
7#: 1.0000000000000002
8#: 0.9999999999999997
9#: 1.0000000000000002
10#: 0.9999999999999999
11#: 1.0000000000000002
12#: 0.9999999999999996
13#: 1.0000000000000002
14#: 0.9999999999999997
15#: 0.9999999999999999
16#: 1.0
17#: 0.9999999999999998
18#: 1.0000000000000002
19#: 0.9999999999999999
20#: 0.9999999999999997
21#: 1.0
22#: 1.0000000000000002
23#: 0.9999999999999998
24#: 0.9999999999999999
25#: 0.9999999999999998
26#: 0.9999999999999997
27#: 1.0
28#: 0.9999999999999999
29#: 0.9999999999999998
30#: 1.0000000000000002
31#: 0.9999999999999996
32#: 1.0000000000000002
33#: 1.0
34#: 0.9999999999999999
35#: 0.9999999999999997
36#: 1.0000000000000002
37#: 1.0
38#: 1.0000000000000002
39#: 1.0000000000000004
40#: 0.9999999999999998
41#: 0.9999999999999998
42#: 1.0000000000000002
43#: 1.0000000000000004
44#: 0.9999999999999998
45#: 1.0000000000000002
46#: 0.9999999999999999
47#: 0.9999999999999998
48#: 0.9999999999999999
49#: 1.0
50#: 1.0
51#: 1.0000000000000004
52#: 1.0000000000000002
53#: 1.0
54#: 1.0000000000000004
55#: 1.0
56#: 0.9999999999999999
57#: 1.0000000000000002
58#: 1.0
59#: 0.9999999999999999
60#: 1.0
61#: 1.0
62#: 0.9999999999999999
63#: 1.0000000000000002
64#: 0.9999999999999999
65#: 0.9999999999999999
66#: 0.9999999999999999
67#: 1.0000000000000002
68#: 0.9999999999999998
69#: 1.0000000000000002
70#: 0.9999999999999998
71#: 1.0000000000000002
72#: 0.9999999999999999
73#: 1.0
74#: 1.0
75#: 1.0000000000000004
76#: 1.0000000000000002
77#: 1.0
78#: 1.0000000000000004
79#: 0.9999999999999998
80#: 0.9999999999999997
81#: 0.9999999999999998
82#: 1.0000000000000002
83#: 0.9999999999999998
84#: 1.0
85#: 0.9999999999999994
86#: 1.0
87#: 1.0000000000000002
88#: 0.9999999999999997
89#: 0.9999999999999998
90#: 1.0
91#: 1.0
92#: 0.9999999999999997
93#: 1.0000000000000002
94#: 1.0
95#: 1.0000000000000002
96#: 0.9999999999999999
97#: 1.0000000000000002
98#: 0.9999999999999997
99#: 0.9999999999999998
100#: 1.0000000000000004
101#: 1.0
102#: 1.0000000000000002
103#: 0.9999999999999998
104#: 1.0
105#: 1.0
106#: 1.0
107#: 0.9999999999999998
108#: 0.9999999999999998
109#: 1.0
110#: 0.9999999999999996
111#: 1.0000000000000002
112#: 0.9999999999999998
113#: 0.9999999999999998
114#: 1.0000000000000002
115#: 0.9999999999999998
116#: 1.0000000000000002
117#: 1.0000000000000002
118#: 0.9999999999999997
119#: 1.0000000000000002
120#: 1.0
121#: 1.0
122#: 1.0000000000000004
123#: 1.0000000000000002
124#: 1.0000000000000002
125#: 1.0
126#: 1.0000000000000002
127#: 0.9999999999999996
128#: 0.9999999999999997
129#: 0.9999999999999998
130#: 1.0000000000000002
131#: 1.0000000000000002
132#: 0.9999999999999999
133#: 0.9999999999999999
134#: 0.9999999999999997
135#: 1.0
136#: 0.9999999999999998
137#: 1.0000000000000002
138#: 1.0
139#: 1.0
140#: 1.0
141#: 1.0000000000000002
142#: 1.0000000000000002
143#: 1.0
144#: 1.0000000000000002
145#: 1.0000000000000004
146#: 1.0