In [27]:
import numpy as np
import pandas as pd

from code.fasttext.embedding_utils import TableEncoder

In [28]:
tabenc = TableEncoder()

In [29]:
pl2_df = pd.read_csv(
    '/home/giovanni/unimore/TESI/src/data/uk_football/Premier_League_1.csv'
)
pl2_df.head()

,Team,Location,Stadium,Capacity
0,Arsenal,London (Holloway),Emirates Stadium,"60,704"
1,Aston Villa,Birmingham,Villa Park,"42,657"
2,Bournemouth,Bournemouth,Vitality Stadium,"11,307"
3,Brentford,London (Brentford),Gtech Community Stadium,"17,250"
4,Brighton & Hove Albion,Brighton,American Express Stadium,"31,876"

In [30]:
data = np.array(pd.concat([pl2_df, pd.DataFrame([pl2_df.columns], columns=pl2_df.columns)], axis=0))
data.shape

(21, 4)

In [31]:
data = np.expand_dims(data, axis=2)

In [32]:
data.shape

(21, 4, 1)

In [33]:
add_label =     False 
keepnumbers =   False

row_emb, col_emb = tabenc.full_embedding(pl2_df, add_label, keepnumbers)

In [34]:
row_emb.shape, col_emb.shape

((20, 300), (4, 300))

In [35]:
basic_col_emb = np.array(tabenc.create_column_embeddings(pl2_df, add_label, keepnumbers))
basic_col_emb.shape

(4, 300)

In [36]:
basic_row_emb = np.array(tabenc.create_row_embeddings(pl2_df, add_label, keepnumbers))
basic_row_emb.shape

(20, 300)

In [37]:
from code.fasttext.embedding_utils import np_cosine_similarity

for i in range(col_emb.shape[0]):
    print(f'{i}#: {np_cosine_similarity(basic_col_emb[i], col_emb[i])}')

0#: 0.9999999999999999
1#: 1.0
2#: 1.0
3#: nan

In [38]:
for i in range(row_emb.shape[0]):
    print(f'{i}#: {np_cosine_similarity(basic_row_emb[i], row_emb[i])}')

0#: 1.0
1#: 1.0000000000000002
2#: 0.9999999999999994
3#: 0.9999999999999996
4#: 1.0
5#: 1.0000000000000002
6#: 1.0000000000000004
7#: 1.0
8#: 0.9999999999999998
9#: 0.9999999999999999
10#: 0.9999999999999991
11#: 1.0000000000000004
12#: 1.0000000000000002
13#: 0.9999999999999994
14#: 0.9999999999999998
15#: 1.0000000000000002
16#: 1.0
17#: 1.0000000000000002
18#: 1.0000000000000002
19#: 1.0000000000000002