In [1]:
import pandas as pd

from code.fasttext.embedding_utils import TableEncoder, compare_embeddings_of, show_most_similar_rows

In [2]:
tabenc = TableEncoder()

## UK stadiums and Premier League clubs (1)

### Computing row embedding - only known categorical columns

In [ ]:
stadium_df = pd.read_csv(
    '/home/giovanni/unimore/TESI/src/data/uk_football/List_of_football_stadiums_in_England_1.csv'
    ).drop(['Rank\n(England only)', 'Image', 'Capacity'], axis=1).dropna(ignore_index=True)

pl1_df = pd.read_csv(
    '/home/giovanni/unimore/TESI/src/data/uk_football/Premier_League_1.csv'
    ).drop('Capacity', axis=1).dropna(ignore_index=True)

In [ ]:
stadium_df.head()

In [ ]:
pl1_df.head()

In [ ]:
row = stadium_df.loc[1]
row

In [ ]:
for idx, row in stadium_df.head(3).iterrows():
    for cell in row:
        print(cell)
    print()

In [ ]:
comparison_rows = compare_embeddings_of(stadium_df, pl1_df, tabenc, 'rows', True)

In [ ]:
comparison_rows

In [ ]:
show_most_similar_rows(comparison_rows, stadium_df, pl1_df)

### Comparing row embeddings with complete dataframes

In [ ]:
stadium_df = pd.read_csv(
    '/home/giovanni/unimore/TESI/src/data/uk_football/List_of_football_stadiums_in_England_1.csv'
    )

pl1_df = pd.read_csv(
    '/home/giovanni/unimore/TESI/src/data/uk_football/Premier_League_1.csv'
    )

In [ ]:
stadium_df.head()

In [ ]:
pl1_df.head()

In [ ]:
comparison_rows = compare_embeddings_of(stadium_df, pl1_df, tabenc, 'rows', True)

In [ ]:
comparison_rows

In [ ]:
show_most_similar_rows(comparison_rows, stadium_df, pl1_df)

## Embedding with labels

In [3]:
stadium_df = pd.read_csv(
    '/home/giovanni/unimore/TESI/src/data/uk_football/List_of_football_stadiums_in_England_1.csv'
    ).drop(['Rank\n(England only)', 'Image', 'Capacity'], axis=1).dropna(ignore_index=True)

pl1_df = pd.read_csv(
    '/home/giovanni/unimore/TESI/src/data/uk_football/Premier_League_1.csv'
    ).drop('Capacity', axis=1).dropna(ignore_index=True)

In [4]:
compared_rows = compare_embeddings_of(stadium_df, pl1_df, tabenc, on='rows', add_label=True)
compared_rows

      R1  R2  cosine similarity
0      2  18           0.957578
1      6  14           0.953846
2     24  15           0.942247
3     49   5           0.937762
4     37   7           0.936358
...   ..  ..                ...
2915  36   8           0.150773
2916  35  10           0.148426
2917  42  10           0.103134
2918  72  10           0.095586
2919  36  10           0.072196

[2920 rows x 3 columns]

In [5]:
show_most_similar_rows(compared_rows, stadium_df, pl1_df, 5)

#0: 0.95757831064105
	2: London Stadium Stratford, London West Ham United Premier League
	18: West Ham United London (Stratford) London Stadium

#1: 0.9538456969603144
	6: St James' Park Newcastle upon Tyne Newcastle United Premier League
	14: Newcastle United Newcastle upon Tyne St James' Park

#2: 0.9422470237023344
	24: City Ground West Bridgford Nottingham Forest Premier League
	15: Nottingham Forest West Bridgford City Ground

#3: 0.9377619309247218
	49: Turf Moor Burnley Burnley Premier League
	5: Burnley Burnley Turf Moor

#4: 0.9363581561292945
	37: Selhurst Park Selhurst, London Crystal Palace Premier League
	7: Crystal Palace London (Selhurst) Selhurst Park