In [1]:
import pymongo
import polars as pl

from dltf.utils.tables import table_to_tokens, is_valid_table
from dltf.utils.misc import lowercase_translator, whitespace_translator
from dltf.utils.settings import DefaultPath as dp
from dltf.utils.datalake import DataLakeHandlerFactory

In [2]:
dlhargs = [
    'mongodb',
    'demo',
    ['datasets.demo']
]

dlh = DataLakeHandlerFactory.create_handler(*dlhargs)

In [3]:
data = pl.read_csv(f'{dp.data_path.base}/final_results_k20_q100.csv').filter(pl.col('mode') == 'bag')
data

shape: (588, 22)
┌──────────┬───────────┬───────────┬──────┬───┬────────────┬─────────────┬────────────┬────────────┐
│ query_id ┆ result_id ┆ algorithm ┆ mode ┆ … ┆ area_ratio ┆ sloth_time( ┆ set_time(s ┆ bag_time(s │
│ ---      ┆ ---       ┆ ---       ┆ ---  ┆   ┆ ---        ┆ s)          ┆ )          ┆ )          │
│ i64      ┆ i64       ┆ str       ┆ str  ┆   ┆ f64        ┆ ---         ┆ ---        ┆ ---        │
│          ┆           ┆           ┆      ┆   ┆            ┆ f64         ┆ f64        ┆ f64        │
╞══════════╪═══════════╪═══════════╪══════╪═══╪════════════╪═════════════╪════════════╪════════════╡
│ 1070758  ┆ 97645     ┆ josie     ┆ bag  ┆ … ┆ 0.25       ┆ 0.001       ┆ 0.0        ┆ 0.00001    │
│ 189421   ┆ 449467    ┆ josie     ┆ bag  ┆ … ┆ 0.181818   ┆ 0.01        ┆ 0.00001    ┆ 0.00001    │
│ 189421   ┆ 460512    ┆ josie     ┆ bag  ┆ … ┆ 0.181818   ┆ 0.001       ┆ 0.0        ┆ 0.0        │
│ 834709   ┆ 1129943   ┆ josie     ┆ bag  ┆ … ┆ 0.25       ┆ 0.001       ┆ 0.0        ┆ 0.0        │
│ 570689   ┆ 1097784   ┆ josie     ┆ bag  ┆ … ┆ 0.090909   ┆ 0.001       ┆ 0.0        ┆ 0.0        │
│ …        ┆ …         ┆ …         ┆ …    ┆ … ┆ …          ┆ …           ┆ …          ┆ …          │
│ 1484462  ┆ 513714    ┆ josie     ┆ bag  ┆ … ┆ 0.2037037  ┆ 0.001       ┆ 0.0        ┆ 0.00001    │
│ 1714748  ┆ 1105039   ┆ josie     ┆ bag  ┆ … ┆ 0.25       ┆ 0.001       ┆ 0.0        ┆ 0.0        │
│ 376146   ┆ 906397    ┆ josie     ┆ bag  ┆ … ┆ 0.016667   ┆ 0.001       ┆ 0.00001    ┆ 0.00001    │
│ 1216805  ┆ 1339027   ┆ josie     ┆ bag  ┆ … ┆ 0.052885   ┆ 0.002       ┆ 0.00001    ┆ 0.00001    │
│ 1070758  ┆ 338080    ┆ josie     ┆ bag  ┆ … ┆ 0.25       ┆ 0.001       ┆ 0.0        ┆ 0.00001    │
└──────────┴───────────┴───────────┴──────┴───┴────────────┴─────────────┴────────────┴────────────┘

In [4]:
qgroups = sorted([(q[0], g.sort(by='sloth_overlap', descending=True)) for q, g in data.group_by(by='query_id')])

In [5]:
len(qgroups)

30

In [8]:
i = 4
doc = dlh.get_table_by_numeric_id(qgroups[i][0])
print(f'i: {i}, table ID: {qgroups[i][0]}, #matches={qgroups[i][1].shape[0]}, #header_rows={len(doc["headers"])}, #rows={len(doc["content"])}, #columns={len(doc["content"][0])}, valid_columns={doc["valid_columns"]}')

i: 4, table ID: 463713, #matches=20, #header_rows=1, #rows=13, #columns=4, valid_columns=[0, 1, 1, 1]

In [9]:
qgroups[i][1].head()

shape: (5, 22)
┌──────────┬───────────┬───────────┬──────┬───┬────────────┬─────────────┬────────────┬────────────┐
│ query_id ┆ result_id ┆ algorithm ┆ mode ┆ … ┆ area_ratio ┆ sloth_time( ┆ set_time(s ┆ bag_time(s │
│ ---      ┆ ---       ┆ ---       ┆ ---  ┆   ┆ ---        ┆ s)          ┆ )          ┆ )          │
│ i64      ┆ i64       ┆ str       ┆ str  ┆   ┆ f64        ┆ ---         ┆ ---        ┆ ---        │
│          ┆           ┆           ┆      ┆   ┆            ┆ f64         ┆ f64        ┆ f64        │
╞══════════╪═══════════╪═══════════╪══════╪═══╪════════════╪═════════════╪════════════╪════════════╡
│ 463713   ┆ 600257    ┆ josie     ┆ bag  ┆ … ┆ 0.205128   ┆ 0.001       ┆ 0.0        ┆ 0.0        │
│ 463713   ┆ 860312    ┆ josie     ┆ bag  ┆ … ┆ 0.205128   ┆ 0.001       ┆ 0.00001    ┆ 0.00001    │
│ 463713   ┆ 623595    ┆ josie     ┆ bag  ┆ … ┆ 0.179487   ┆ 0.0         ┆ 0.0        ┆ 0.0        │
│ 463713   ┆ 829224    ┆ josie     ┆ bag  ┆ … ┆ 0.179487   ┆ 0.001       ┆ 0.00001    ┆ 0.0        │
│ 463713   ┆ 1696824   ┆ josie     ┆ bag  ┆ … ┆ 0.179487   ┆ 0.001       ┆ 0.0        ┆ 0.0        │
└──────────┴───────────┴───────────┴──────┴───┴────────────┴─────────────┴────────────┴────────────┘

In [10]:
pl.DataFrame(doc['content'], orient='row')

shape: (13, 4)
┌───────────┬─────────────────────────────┬────────────────────┬───────────────────────────────────┐
│ column_0  ┆ column_1                    ┆ column_2           ┆ column_3                          │
│ ---       ┆ ---                         ┆ ---                ┆ ---                               │
│ str       ┆ str                         ┆ str                ┆ str                               │
╞═══════════╪═════════════════════════════╪════════════════════╪═══════════════════════════════════╡
│ 1999–2000 ┆ Barmy Aunt Boomerang        ┆ Sebastian Simpkins ┆ 20 episodes                       │
│ 2002      ┆ Taggart                     ┆ Christie           ┆ Episode: "Watertight"             │
│ 2009      ┆ Hope Springs                ┆ Dean McKenzie      ┆ 8 episodes                        │
│ 2010      ┆ Worried About The Boy       ┆ Kirk Brandon       ┆ Television film                   │
│ 2011      ┆ Sirens                      ┆ Ashley Greenwick   ┆ 6 episodes                        │
│ …         ┆ …                           ┆ …                  ┆ …                                 │
│ 2015      ┆ Lady Chatterley's Lover     ┆ Oliver Mellors     ┆ Television film                   │
│ 2016      ┆ Medici: Masters of Florence ┆ Cosimo de' Medici  ┆ 8 episodes; also executive pro…   │
│ 2017      ┆ Oasis                       ┆ Peter Leigh        ┆ Pilot                             │
│ 2017      ┆ Philip K. Dick's Electric   ┆ Agent Ross         ┆ Episode: "The Hood Maker"         │
│           ┆ Drea…                       ┆                    ┆                                   │
│ 2018      ┆ Bodyguard                   ┆ PS David Budd      ┆ Lead role; 6 episodes             │
│           ┆                             ┆                    ┆ Golden G…                         │
└───────────┴─────────────────────────────┴────────────────────┴───────────────────────────────────┘

In [32]:
bag_q = set(table_to_tokens(doc['content'], doc['valid_columns'], 'bag', None, set(), [lowercase_translator, whitespace_translator]))
docr = dlh.get_table_by_numeric_id(qgroups[i][1][0]['result_id'][0])
bag_r = set(table_to_tokens(docr['content'], docr['valid_columns'], 'bag', None, set(), [lowercase_translator, whitespace_translator]))
doc['_id_numeric'], len(bag_q), len(bag_r), len(bag_q | bag_r), len(bag_q & bag_r), bag_q & bag_r

(1370219,
 96,
 96,
 146,
 46,
 {'Cornell University@#1',
  'Cutter@#1',
  'Cutter@#10',
  'Cutter@#11',
  'Cutter@#12',
  'Cutter@#13',
  'Cutter@#14',
  'Cutter@#2',
  'Cutter@#3',
  'Cutter@#4',
  'Cutter@#5',
  'Cutter@#6',
  'Cutter@#7',
  'Cutter@#8',
  'Cutter@#9',
  'Defense@#1',
  'Defense@#10',
  'Defense@#11',
  'Defense@#12',
  'Defense@#13',
  'Defense@#2',
  'Defense@#3',
  'Defense@#4',
  'Defense@#5',
  'Defense@#6',
  'Defense@#7',
  'Defense@#8',
  'Defense@#9',
  'Handler@#1',
  'Handler@#2',
  'Handler@#3',
  'Handler@#4',
  'Handler@#5',
  'Handler@#6',
  'Handler@#7',
  'Offense@#1',
  'Offense@#10',
  'Offense@#2',
  'Offense@#3',
  'Offense@#4',
  'Offense@#5',
  'Offense@#6',
  'Offense@#7',
  'Offense@#8',
  'Offense@#9',
  'Swarthmore College@#1'})

In [33]:
IDs = {
    # ricerca di tabelle con contenuto identiche/simili
    'contenuto_simile': [1749224, 1484462, 1714748, 551590, 1324441, 1121158, 1216805, 1370219, 1216034, 1749224, 1623113, 1591122, 463713, 376146],
    
    # esempio di pulizia per tabelle sporche? Con token e robe strane in mezzo, tipo "{{nom}}"
    'pulizia_tabelle_sporche': [1249360, 1630678, 612879],
    
    # esempio di ricerca di tabelle con stessi nomi per verifica di coerenza dati
    'verifica_coerenza': [1878225, 1878225, 1598208, 766881, 1195130, 834709, 323280],

    'scartate': [570689, 1394327, 189421, 1347854, 1536126, 737775, 1070758, 461074]
}

### How many tables do we have with the previous tables and the relative result IDs?

In [34]:
query_ids = {qid for k, qlist in IDs.items() if k != 'scartate' for qid in qlist}
len(query_ids)

22

In [35]:
[q for q in qgroups[0][1]['result_id']]

[505572,
 533946,
 674707,
 675588,
 747751,
 691431,
 1016799,
 847565,
 906844,
 831783,
 479749,
 808444,
 837511,
 678351,
 645723,
 674928,
 807451,
 655816,
 974076,
 685388]

In [36]:
ids = {i for qid, qgroup in qgroups if qid in query_ids and qgroup.shape[0] >= 5 for i in qgroup['result_id']}
len(ids | query_ids)

450

In [37]:
ids = ids | query_ids

### Get random tables to complete the datalake

In [40]:
i = 0
n = 0
for doc in dlh.scan_tables():
    i += 1
    if len(doc['headers']) == 1:
        n += 1
    if i == 10000:
        break
n

4287

In [41]:
import random

datalake_size = 1_000
datalake_ids = ids
n_tables = dlh.count_tables()


for doc in dlh.scan_tables():
    if doc['_id_numeric'] not in datalake_ids and is_valid_table(doc['content'], doc['valid_columns']) and len(doc['headers']) == 1 and random.random() < 0.5:
        datalake_ids.add(doc['_id_numeric'])
    if len(datalake_ids) >= datalake_size:
        break
    
    print(f'{doc["_id_numeric"]}/{n_tables}, found {len(datalake_ids)}/{datalake_size} tables', end='\r')

In [42]:
import json

IDs = {
    'all_ids': list(datalake_ids),
    'query_ids': list(query_ids)
}

with open('datalake_ids.json', 'w') as fw:
    json.dump(IDs, fw, indent=4)

IDs

{'all_ids': [4098,
  10,
  4110,
  4111,
  18,
  23,
  1761308,
  29,
  4128,
  4133,
  40,
  1290283,
  4141,
  47,
  48,
  880689,
  4143,
  51,
  4144,
  4156,
  4159,
  49216,
  4169,
  1249360,
  614481,
  80,
  4183,
  90,
  909405,
  471135,
  95,
  98,
  4196,
  105,
  1769579,
  114,
  4213,
  119,
  8313,
  121,
  1695867,
  125,
  684160,
  1532033,
  200834,
  128,
  132,
  4225,
  1216646,
  4231,
  137,
  4236,
  141,
  4237,
  4238,
  144,
  925846,
  860312,
  4248,
  155,
  159,
  160,
  161,
  162,
  163,
  4262,
  4264,
  1245360,
  4282,
  606400,
  1634500,
  528592,
  214,
  1749223,
  1749224,
  1593580,
  1921265,
  241,
  245,
  256,
  257,
  1564930,
  259,
  1749255,
  373000,
  264,
  823562,
  1888522,
  276,
  277,
  280,
  1528093,
  1605917,
  285,
  288,
  289,
  292,
  1216805,
  831783,
  302,
  306,
  314,
  627013,
  327,
  1249611,
  343,
  1716573,
  354,
  905572,
  356,
  98678,
  375,
  377,
  378,
  1081725,
  381,
  382,
  401792,
  384,
  2003332,
  1372550,
  1528206,
  1773968,
  1724821,
  1868182,
  407,
  1757593,
  422299,
  411,
  413,
  844194,
  889258,
  401834,
  432,
  433,
  606647,
  90558,
  452,
  655816,
  460,
  461,
  462,
  464,
  1630678,
  471,
  475,
  476,
  485,
  489,
  491,
  495,
  496,
  766450,
  1667575,
  1069559,
  877051,
  561661,
  510,
  479749,
  517,
  340487,
  1339918,
  1540627,
  1540628,
  807451,
  1737244,
  557,
  1102387,
  1720886,
  1720887,
  1909307,
  1909308,
  1196605,
  1909310,
  1909309,
  1225279,
  576,
  581,
  606793,
  29264,
  1208919,
  607,
  608,
  612,
  619,
  626,
  633,
  638,
  901768,
  1270415,
  658,
  557717,
  664,
  668,
  669,
  670,
  1192628,
  694,
  697,
  700,
  719,
  721,
  723,
  754389,
  512729,
  731,
  922332,
  733,
  735,
  746,
  748,
  749,
  1528558,
  1528563,
  1528572,
  767,
  1598208,
  1225478,
  942854,
  1762056,
  783,
  786,
  795,
  807,
  811,
  812,
  1123117,
  813,
  316210,
  818,
  1581878,
  1528634,
  826,
  828,
  829,
  831,
  832,
  837,
  1528647,
  840,
  841,
  938831,
  857,
  859,
  29533,
  156509,
  863,
  615263,
  865,
  866,
  463713,
  868,
  1000288,
  1880929,
  1758051,
  1147747,
  1135462,
  492392,
  1340266,
  874,
  879,
  1209206,
  1426298,
  1782657,
  905,
  908,
  1414029,
  912,
  920,
  922,
  923,
  924,
  508830,
  927,
  766881,
  1717159,
  1717160,
  943,
  955312,
  949,
  956,
  1536967,
  977,
  978,
  979,
  1536980,
  983,
  984,
  985,
  989,
  990,
  1016799,
  1536991,
  992,
  993,
  995,
  1536996,
  998,
  999,
  623595,
  1537003,
  1004,
  1537006,
  1011,
  1018,
  1033,
  951309,
  1037,
  1025040,
  1040,
  1045,
  1046,
  1047,
  1050,
  1537052,
  50207,
  1057,
  1058,
  1070,
  1073,
  1696824,
  1080,
  1762364,
  1991742,
  1089,
  1623113,
  2045008,
  422999,
  607325,
  1120,
  1122,
  1754218,
  1131,
  1136,
  1141,
  1159,
  1163,
  1165,
  1167,
  1168,
  1169,
  1170,
  1172,
  1174,
  1177,
  1179,
  906397,
  1181,
  1186,
  1187,
  1199,
  885943,
  1209,
  1214,
  1373381,
  1225,
  5333,
  1237,
  1245,
  1252,
  1253,
  1255,
  1262,
  1263,
  1264,
  1269,
  1273,
  1275,
  1276,
  1281,
  1282,
  865544,
  611593,
  1291,
  1293,
  1294,
  1299,
  1300,
  1301,
  1303,
  1324312,
  2000166,
  2000167,
  1025320,
  1327,
  1328,
  877880,
  1074495,
  1346,
  1350,
  685388,
  1356,
  1358,
  1359,
  1365,
  869719,
  1873240,
  1370,
  972127,
  869757,
  1873279,
  611720,
  402825,
  1418,
  1419,
  1420,
  1426,
  423319,
  1324441,
  1635739,
  1436,
  1441,
  1461,
  1762743,
  1464,
  533946,
  1469,
  1475,
  1385925,
  1299910,
  1479,
  1484,
  1488,
  1490,
  1492,
  1869274,
  1499,
  759266,
  1506,
  1507,
  1508,
  1510,
  1516,
  1520,
  1529331,
  1992183,
  808444,
  1533,
  1534,
  1984001,
  1538,
  1541,
  1066504,
  611867,
  1564,
  1567,
  247329,
  1390120,
  1577,
  1578,
  1889847,
  1594,
  1345088,
  5697,
  235075,
  1607,
  1608,
  1614,
  1620,
  1621,
  906844,
  1738337,
  1463907,
  1637,
  1638,
  1639,
  1640,
  1649,
  935539,
  550527,
  1672,
  607882,
  2008719,
  1679,
  779929,
  1690,
  1692,
  1693,
  1696,
  1697,
  505507,
  1701,
  1484461,
  1926830,
  1484462,
  505520,
  1713,
  513714,
  1935028,
  1717,
  1803958,
  1128121,
  1723,
  1731,
  1926852,
  1732,
  1595079,
  1739,
  1748,
  607962,
  173793,
  354019,
  505572,
  1447652,
  1693414,
  1529587,
  571127,
  1529592,
  571129,
  739068,
  1386240,
  210694,
  534281,
  1455893,
  1238806,
  1722135,
  579352,
  829224,
  833324,
  1509172,
  558901,
  227135,
  1763138,
  1591122,
  2082654,
  1066847,
  2000737,
  1976162,
  612199,
  1709936,
  1427328,
  1767300,
  837511,
  1161101,
  1767316,
  1591192,
  1767327,
  378785,
  583587,
  178086,
  1767334,
  83891,
  83902,
  612303,
  833538,
  833557,
  1452054,
  833562,
  1886246,
  1656877,
  2115,
  2117,
  2119,
  1075280,
  1370219,
  284780,
  1075316,
  1984637,
  1075331,
  2182,
  2189,
  2190,
  2191,
  706709,
  2197,
  706711,
  80030,
  1075358,
  1091756,
  2221,
  2222,
  2224,
  481459,
  1079479,
  2239,
  600257,
  866500,
  2245,
  2250,
  706763,
  1878225,
  2258,
  2259,
  2260,
  2261,
  1272024,
  481498,
  2276,
  747751,
  2280,
  2281,
  2289,
  2296,
  2300,
  2306,
  2308,
  2316,
  1104142,
  2323,
  1935636,
  2326,
  2328,
  2330,
  1104163,
  2344,
  2347,
  1751348,
  2360,
  1075513,
  2365,
  1423692,
  1358162,
  2386,
  2388,
  858457,
  1198432,
  858479,
  612721,
  6517,
  1976693,
  2439,
  2442,
  1698187,
  2460,
  2461,
  2468,
  2472,
  2485,
  387514,
  1944000,
  2497,
  2498,
  2508,
  678351,
  2511,
  2521,
  2527,
  2533,
  2534,
  2535,
  604649,
  2544,
  1964531,
  924152,
  2556,
  2557,
  2561,
  2562,
  711182,
  612879,
  375312,
  2576,
  2592,
  2597,
  637482,
  1042993,
  604721,
  1534516,
  2614,
  2615,
  2619,
  1714748,
  1681981,
  2620,
  2624,
  2627,
  2634,
  1886798,
  2639,
  2647,
  645723,
  2655,
  2659,
  88683,
  2667,
  2668,
  2669,
  2673,
  1710724,
  2693,
  2700,
  1641106,
  199332,
  551590,
  936617,
  359099,
  2749,
  2758,
  1030863,
  2781,
  1596129,
  1862369,
  2791,
  2792,
  2793,
  2794,
  2799,
  2808,
  2811,
  2816,
  2849,
  928546,
  2850,
  1645353,
  391979,
  2863,
  2869,
  2870,
  105272,
  1370936,
  789308,
  2879,
  2902,
  2903,
  605022,
  613221,
  1780582,
  2924,
  605047,
  768893,
  1121149,
  1121150,
  1121151,
  1121153,
  1121152,
  1121154,
  1121156,
  1121157,
  1121158,
  502659,
  1121159,
  1121160,
  1121161,
  1121162,
  1121163,
  674707,
  2966,
  1522598,
  2046886,
  1194921,
  3000,
  3008,
  1252291,
  3012,
  3013,
  3014,
  3015,
  1641416,
  740304,
  3024,
  3030,
  3032,
  3033,
  3034,
  3037,
  3041,
  3042,
  3045,
  3046,
  166888,
  3049,
  580587,
  3053,
  3056,
  3057,
  3059,
  3063,
  3064,
  3067,
  1436672,
  3072,
  3073,
  3074,
  3075,
  1367045,
  3077,
  584712,
  3085,
  1596430,
  3086,
  3088,
  48147,
  1428500,
  3093,
  3109,
  3112,
  1498156,
  1063992,
  3129,
  3130,
  871486,
  1080388,
  3140,
  44111,
  1993813,
  1199189,
  1256537,
  3163,
  3173,
  1756263,
  3177,
  3182,
  674928,
  1887345,
  3189,
  1195130,
  3197,
  3198,
  1096837,
  1105039,
  3216,
  834709,
  1629339,
  3233,
  3244,
  994491,
  3286,
  3290,
  1776863,
  3300,
  691431,
  3304,
  1821937,
  974076,
  3328,
  3329,
  3333,
  3336,
  515338,
  3339,
  3340,
  3344,
  3346,
  3348,
  3350,
  3352,
  3367,
  3369,
  3370,
  3371,
  3379,
  3382,
  789816,
  3386,
  3388,
  347453,
  3389,
  3392,
  3395,
  3397,
  3401,
  3403,
  3408,
  3409,
  376146,
  3415,
  421211,
  3420,
  3421,
  3440,
  3443,
  871804,
  1863044,
  253333,
  3477,
  1088941,
  3510,
  93623,
  261573,
  2125253,
  3525,
  3529,
  339407,
  3536,
  1486294,
  1129943,
  3542,
  3543,
  3545,
  3554,
  3557,
  1773032,
  3565,
  323054,
  3566,
  3568,
  3571,
  3575,
  3579,
  1994238,
  3582,
  613917,
  1216034,
  892451,
  3618,
  3619,
  3622,
  1023538,
  44599,
  605771,
  556621,
  1195599,
  642641,
  1764946,
  3666,
  1916502,
  3674,
  3677,
  1998434,
  3687,
  7785,
  3690,
  3692,
  3697,
  3699,
  3703,
  3704,
  3705,
  3707,
  3708,
  52862,
  1740420,
  3726,
  1339027,
  3733,
  3737,
  3739,
  3744,
  3750,
  3752,
  3755,
  3759,
  3761,
  3762,
  3766,
  3769,
  1601214,
  1584832,
  1994433,
  3787,
  1449676,
  847565,
  138959,
  323280,
  491221,
  3808,
  3810,
  1761016,
  675588,
  122628,
  696077,
  3859,
  3861,
  3863,
  3865,
  3870,
  188195,
  3878,
  3883,
  1527598,
  1634098,
  3890,
  3893,
  3901,
  1531711,
  3922,
  1240919,
  85847,
  3939,
  1273702,
  315246,
  3954,
  1253238,
  3959,
  315263,
  835457,
  1216385,
  835460,
  1253254,
  835462,
  3998,
  868255,
  1716127,
  4000,
  4001,
  4002,
  4006,
  4007,
  1060788,
  1175482,
  4056,
  4058,
  4064,
  4068,
  4071,
  4079,
  1036275,
  8181,
  4089,
  4094],
 'query_ids': [1598208,
  1121158,
  612879,
  834709,
  1324441,
  766881,
  1216034,
  1216805,
  551590,
  1484462,
  1714748,
  1623113,
  1249360,
  1878225,
  1591122,
  376146,
  323280,
  1630678,
  463713,
  1749224,
  1370219,
  1195130]}

### Get all the documents and save them

In [43]:
docs = []

mongoclient = pymongo.MongoClient()
collection = mongoclient.sloth.latest_snapshot_tables

for id in datalake_ids:
   doc = collection.find_one({f'_id_numeric': id})
   docs.append(doc)

In [44]:
len(docs)

1000

In [45]:
with open('demo_datalake.json', 'w') as fw:
    json.dump(docs, fw)

## Inspect the tables

In [6]:
import tabulate

In [7]:
mongoclient = pymongo.MongoClient()
collection = mongoclient.datasets.demo

In [39]:
i = 7

qid = qgroups[i][0]
results = [row for row in qgroups[i][1].select('result_id', 'sloth_overlap').rows()]

In [40]:
results

[(612721, 20),
 (612303, 18),
 (613221, 14),
 (613917, 12),
 (614481, 9),
 (611593, 9),
 (605771, 8),
 (607962, 6),
 (611720, 5),
 (606647, 4),
 (612199, 4),
 (637482, 4),
 (607882, 3),
 (605022, 3),
 (611867, 3),
 (605047, 3),
 (606793, 2),
 (606400, 2),
 (604721, 2),
 (604649, 2)]

In [41]:
qid

612879

In [43]:
qdoc = collection.find_one({'_id_numeric': qid})
print(qdoc['_id_numeric'], qdoc['_id'], qdoc['context'])
print(tabulate.tabulate(qdoc['content']))

612879 381.73750 ['HMCS Chilliwack', 'War service | Trans-Atlantic convoys escorted']
------  -------------  ---------------------------------  ---------------------------------------------------------------------
Convoy  Escort Group   Dates                              Notes
HX 145                 20–25 August 1941                  83 ships escorted without loss from Newfoundland to Iceland
ON 11                  4–11 September 1941                63 ships escorted without loss from Iceland to Newfoundland
SC 45                  21–30 September 1941               58 ships escorted without loss from Newfoundland to Iceland
ON 21                  5–14 October 1941                  30 ships escorted without loss from Iceland to Newfoundland
SC 51                  25 October-4 November 1941         38 ships escorted without loss from Newfoundland to Iceland
ON 33                  11–19 November 1941                49 ships escorted without loss from Iceland to Newfoundland
SC 59                  14–21 December 1941                39 ships escorted without loss from Newfoundland to Iceland
ON 50                  28 December 1941 – 3 January 1942  35 ships escorted without loss from Iceland to Newfoundland
SC 67                  30 January-11 February 1942        Newfoundland to Iceland; 1 ship torpedoed & sunk
ON 66                  18–25 February 1942                19 ships escorted without loss from Iceland to Newfoundland
HX 178                 6–16 March 1942                    22 ships escorted without loss from Newfoundland to Iceland
ON 79                  24 March-1 April 1942              29 ships escorted without loss from Iceland to Newfoundland

HX 195  MOEF group C1  24 June-1 July 1942                30 ships escorted without loss from Newfoundland to Iceland
ON 112  MOEF group C1  14–25 July 1942                    36 ships escorted without loss from Northern Ireland to Newfoundland
SC 94   MOEF group C1  2–8 August 1942                    Newfoundland to Northern Ireland; 10 ships torpedoed & sunk
ON 123  MOEF group C1  22–31 August 1942                  39 ships escorted without loss from Northern Ireland to Newfoundland
SC 99   MOEF group C1  9–19 September 1942                59 ships escorted without loss from Newfoundland to Northern Ireland
ON 133  MOEF group C1  26 September-5 Oct 1942            35 ships escorted without loss from Northern Ireland to Newfoundland
HX 211  MOEF group C1  13–20 October 1942                 29 ships escorted without loss from Newfoundland to Northern Ireland
ON 143  MOEF group C1  2–11 November 1942                 26 ships escorted without loss from Northern Ireland to Newfoundland
SC 110  MOEF group C1  24 November-5 December 1942        33 ships escorted without loss from Halifax to Newfoundland
ON 154  MOEF group C1  19–30 December 1942                Northern Ireland to Newfoundland; 14 ships torpedoed (13 sank)
HX 222  MOEF group C1  11–22 January 1943                 Newfoundland to Northern Ireland; 1 ship torpedoed & sunk
ON 166  MOEF group A3  12–25 February 1943                Northern Ireland to Newfoundland; 12 ships torpedoed (11 sank)

HX 265                 11–20 November 1943                51 ships escorted without loss from Newfoundland to Northern Ireland
ONS 24                 1–13 December 1943                 29 ships escorted without loss from Northern Ireland to Newfoundland
HX 271                 20–29 December 1943                53 ships escorted without loss from Newfoundland to Northern Ireland
ON 221                 25 January-6 February 1944         63 ships escorted without loss from Northern Ireland to Newfoundland
HX 280                 2–5 March 1944                     63 ships escorted without loss from Newfoundland to Northern Ireland
ON 230                 31 March-9 April 1944              66 ships escorted without loss from Northern Ireland to Newfoundland
HX 287                 12–17 April 1944                   71 ships escorted without loss from Newfoundland to Northern Ireland
ON 235                 5–14 May 1944                      65 ships escorted without loss from Northern Ireland to Newfoundland
HX 292                 19–22 May 1944                     128 ships escorted without loss from Newfoundland to Northern Ireland
ON 240                 11–22 June 1944                    85 ships escorted without loss from Northern Ireland to Newfoundland
HX 297                 30 June-10 July 1944               116 ships escorted without loss from Newfoundland to Northern Ireland
ON 245                 19–28 July 1944                    101 ships escorted without loss from Northern Ireland to Newfoundland
HX 302                 8–16 August 1944                   96 ships escorted without loss from Newfoundland to Northern Ireland
ON 250                 25 August-4 September 1944         76 ships escorted without loss from Northern Ireland to Newfoundland
------  -------------  ---------------------------------  ---------------------------------------------------------------------

In [44]:
j = 0

rid = results[j][0]
rdoc = collection.find_one({'_id_numeric': rid})
print(rdoc['_id_numeric'], rdoc['_id'], rdoc['context'])
print(tabulate.tabulate(rdoc['content']))

612721 381.34794 ['HMCS Battleford', 'War service | Trans-Atlantic convoys escorted']
-------  -------------  ---------------------------  --------------------------------------------------------------------
Convoy   Escort Group   Dates                        Notes
SC 57                   28 November-9 December 1941  Newfoundland to Iceland; 3 ships torpedoed & sunk
ON 48                   24-31 December 1941          49 ships escorted without loss from Iceland to Newfoundland
SC 80                   22 April-3 May 1942          29 ships escorted without loss from Newfoundland to Northern Ireland
ON 112   MOEF group C1  14-25 July 1942              36 ships escorted without loss from Northern Ireland to Newfoundland
SC 94    MOEF group C1  2-12 August 1942             Newfoundland to Northern Ireland; 10 ships torpedoed & sunk
ON 123   MOEF group C1  22-31 August 1942            39 ships escorted without loss from Northern Ireland to Newfoundland
SC 99    MOEF group C1  9-19 September 1942          59 ships escorted without loss from Newfoundland to Northern Ireland
ON 133   MOEF group C1  26 September-5 Oct 1942      35 ships escorted without loss from Northern Ireland to Newfoundland
HX 211   MOEF group C1  13-20 October 1942           29 ships escorted without loss from Newfoundland to Northern Ireland
ON 143   MOEF group C1  2-11 November 1942           26 ships escorted without loss from Northern Ireland to Newfoundland
SC 110   MOEF group C1  24 November-5 December 1942  33 ships escorted without loss from Halifax to Newfoundland
ON 154   MOEF group C1  19-30 December 1942          Northern Ireland to Newfoundland; 14 ships torpedoed (13 sank)
HX 222   MOEF group C1  11-22 January 1943           Newfoundland to Northern Ireland; 1 ship torpedoed & sunk
KMS 10G  MOEF group C1  28 February-8 March 1943     Liverpool to Mediterranean Sea; 4 ships torpedoed (1 sank)
MKS 9    MOEF group C1  8-18 March 1943              55 ships escorted without loss from Mediterranean to Liverpool
ONS 2    MOEF group C1  29 March-14 April 1943       31 ships escorted without loss from Northern Ireland to Newfoundland
-------  -------------  ---------------------------  --------------------------------------------------------------------

In [45]:
from dltf.sloth.sloth import sloth
metrics = []
res = sloth(qdoc['content'], rdoc['content'], verbose=True, complete=True, metrics=metrics)
print('Number of distinct overlaps: ', len(res[0]))
for r in res[0]:
    print(tabulate.tabulate([[x] for x in r[1][0]]))

Detected 229 seed(s) in 0.004713535308837891 seconds.
Generated 1 candidate(s) in 4.553794860839844e-05 seconds.
Verified 1 candidate(s) in 0.00010347366333007812 seconds.
Detected 1 largest overlap(s) in 0.0001914501190185547 seconds.
Size of the detected largest overlap(s): 11 columns, 3 rows, 33 cells.
Total elapsed time: 0.005323886871337891 seconds.
             0                                                  1   \
0        Convoy                                             ON 112
1  Escort Group                                      MOEF group C1
2         Notes  36 ships escorted without loss from Northern I...

                                                  2   \
0                                              SC 94
1                                      MOEF group C1
2  Newfoundland to Northern Ireland; 10 ships tor...

                                                  3   \
0                                             ON 123
1                                      MOEF group C1
2  39 ships escorted without loss from Northern I...

                                                  4   \
0                                              SC 99
1                                      MOEF group C1
2  59 ships escorted without loss from Newfoundla...

                                                  5   \
0                                             ON 133
1                                      MOEF group C1
2  35 ships escorted without loss from Northern I...

                                                  6   \
0                                             HX 211
1                                      MOEF group C1
2  29 ships escorted without loss from Newfoundla...

                                                  7   \
0                                             ON 143
1                                      MOEF group C1
2  26 ships escorted without loss from Northern I...

                                                  8   \
0                                             SC 110
1                                      MOEF group C1
2  33 ships escorted without loss from Halifax to...

                                                  9   \
0                                             ON 154
1                                      MOEF group C1
2  Northern Ireland to Newfoundland; 14 ships tor...

                                                  10
0                                             HX 222
1                                      MOEF group C1
2  Newfoundland to Northern Ireland; 1 ship torpe...
Number of distinct overlaps:  1
------
Convoy
ON 112
SC 94
ON 123
SC 99
ON 133
HX 211
ON 143
SC 110
ON 154
HX 222
------

In [38]:
qdoc['content'][7]

['2012', 'Birdsong', 'Captain Michael Weir', '2 episodes']

In [39]:
rdoc['content'][57]

['2012',
 'Metalocalypse',
 'Dr. Bartholomew Grahsrihajul, Klokateer (voices)',
 '2 episodes']

In [35]:
res

([([(0, 0),
    (7, 57),
    (11, 12),
    (8, 13),
    (9, 95),
    (5, 67),
    (4, 117),
    (3, 119),
    (1, 108)],
   [('Notes',
     '20 episodes',
     '8 episodes',
     'Television film',
     '6 episodes',
     '2 episodes',
     '3 episodes',
     'Television film',
     'Pilot')]),
  ([(0, 0),
    (7, 57),
    (11, 12),
    (8, 13),
    (9, 95),
    (5, 67),
    (4, 117),
    (3, 77),
    (1, 108)],
   [('Notes',
     '20 episodes',
     '8 episodes',
     'Television film',
     '6 episodes',
     '2 episodes',
     '3 episodes',
     'Television film',
     'Pilot')]),
  ([(0, 0),
    (7, 57),
    (11, 12),
    (8, 13),
    (9, 95),
    (5, 36),
    (4, 117),
    (3, 119),
    (1, 108)],
   [('Notes',
     '20 episodes',
     '8 episodes',
     'Television film',
     '6 episodes',
     '2 episodes',
     '3 episodes',
     'Television film',
     'Pilot')]),
  ([(0, 0),
    (7, 57),
    (11, 12),
    (8, 13),
    (9, 95),
    (5, 36),
    (4, 117),
    (3, 77),
    (1, 108)],
   [('Notes',
     '20 episodes',
     '8 episodes',
     'Television film',
     '6 episodes',
     '2 episodes',
     '3 episodes',
     'Television film',
     'Pilot')]),
  ([(0, 0),
    (7, 57),
    (11, 12),
    (8, 13),
    (9, 95),
    (3, 77),
    (1, 108),
    (5, 46),
    (4, 117)],
   [('Notes',
     '20 episodes',
     '8 episodes',
     'Television film',
     '6 episodes',
     '2 episodes',
     '3 episodes',
     'Television film',
     'Pilot')]),
  ([(0, 0),
    (7, 57),
    (11, 12),
    (8, 13),
    (9, 95),
    (3, 77),
    (1, 108),
    (4, 117),
    (5, 118)],
   [('Notes',
     '20 episodes',
     '8 episodes',
     'Television film',
     '6 episodes',
     '2 episodes',
     '3 episodes',
     'Television film',
     'Pilot')]),
  ([(0, 0),
    (7, 57),
    (11, 12),
    (8, 13),
    (9, 95),
    (3, 77),
    (1, 108),
    (4, 117),
    (5, 86)],
   [('Notes',
     '20 episodes',
     '8 episodes',
     'Television film',
     '6 episodes',
     '2 episodes',
     '3 episodes',
     'Television film',
     'Pilot')]),
  ([(0, 0),
    (7, 57),
    (11, 12),
    (8, 13),
    (9, 95),
    (5, 46),
    (4, 117),
    (3, 119),
    (1, 108)],
   [('Notes',
     '20 episodes',
     '8 episodes',
     'Television film',
     '6 episodes',
     '2 episodes',
     '3 episodes',
     'Television film',
     'Pilot')]),
  ([(0, 0),
    (7, 57),
    (11, 12),
    (8, 13),
    (9, 95),
    (1, 108),
    (4, 117),
    (5, 118),
    (3, 119)],
   [('Notes',
     '20 episodes',
     '8 episodes',
     'Television film',
     '6 episodes',
     '2 episodes',
     '3 episodes',
     'Television film',
     'Pilot')]),
  ([(0, 0),
    (7, 57),
    (11, 12),
    (8, 13),
    (9, 95),
    (1, 108),
    (4, 117),
    (3, 119),
    (5, 86)],
   [('Notes',
     '20 episodes',
     '8 episodes',
     'Television film',
     '6 episodes',
     '2 episodes',
     '3 episodes',
     'Television film',
     'Pilot')]),
  ([(0, 0),
    (7, 57),
    (11, 12),
    (8, 13),
    (5, 67),
    (4, 95),
    (3, 119),
    (1, 108),
    (9, 117)],
   [('Notes',
     '20 episodes',
     '8 episodes',
     'Television film',
     '6 episodes',
     '2 episodes',
     '3 episodes',
     'Television film',
     'Pilot')]),
  ([(0, 0),
    (7, 57),
    (11, 12),
    (8, 13),
    (5, 67),
    (4, 95),
    (3, 77),
    (1, 108),
    (9, 117)],
   [('Notes',
     '20 episodes',
     '8 episodes',
     'Television film',
     '6 episodes',
     '2 episodes',
     '3 episodes',
     'Television film',
     'Pilot')])],
 [91,
  0.006515026092529297,
  'a',
  32,
  0.0,
  6335,
  0.006226062774658203,
  4959,
  0.04037880897521973,
  12,
  9,
  1,
  9,
  5.922661304473877])

Examples:

--> same topic, 2012 European Athletics Championships - Women's 4x100 metres relay, results FINAL vs ROUND-1
query 766881, result 766450

In [44]:
from dltf.sloth.utils import parse_table
t1 = [
    ['a', 'b', 'c'],
    ['d', 'e', 'e']
]

t2 = [
    ['h', 'b', 'c'],
    ['q', 'q', 'q'],
    ['q', 'q', 'q'],
    ['r', 'e', 'e']
]
sloth(parse_table(t1, 3, 0), parse_table(t2, 3, 0))

Detected 4 seed(s) in 0.0002875328063964844 seconds.
Generated 1 candidate(s) in 3.4332275390625e-05 seconds.
Verified 1 candidate(s) in 5.984306335449219e-05 seconds.
Detected 1 largest overlap(s) in 0.00011444091796875 seconds.
Size of the detected largest overlap(s): 2 columns, 2 rows, 4 cells.
Total elapsed time: 0.0007100105285644531 seconds.
   0  1
0  b  c
1  e  e

([([(1, 1), (2, 2)], [('b', 'c'), ('e', 'e')])], None)