In [2]:
import pymongo
import polars as pl

from dltf.utils.tables import table_to_tokens, is_valid_table
from dltf.utils.misc import lowercase_translator, whitespace_translator
from dltf.utils.settings import DefaultPath as dp
from dltf.utils.datalake import DataLakeHandlerFactory

In [3]:
dlhargs = [
    'mongodb',
    'latsnaptab',
    ['sloth.latest_snapshot_tables']
]

dlh = DataLakeHandlerFactory.create_handler(*dlhargs)

In [4]:
data = pl.read_csv(f'{dp.data_path.tests}/latsnaptab/latsnaptab/results/extracted/final_results_k20_q100.csv').filter(pl.col('mode') == 'bag')
data

shape: (588, 22)
┌──────────┬───────────┬───────────┬──────┬───┬────────────┬─────────────┬────────────┬────────────┐
│ query_id ┆ result_id ┆ algorithm ┆ mode ┆ … ┆ area_ratio ┆ sloth_time( ┆ set_time(s ┆ bag_time(s │
│ ---      ┆ ---       ┆ ---       ┆ ---  ┆   ┆ ---        ┆ s)          ┆ )          ┆ )          │
│ i64      ┆ i64       ┆ str       ┆ str  ┆   ┆ f64        ┆ ---         ┆ ---        ┆ ---        │
│          ┆           ┆           ┆      ┆   ┆            ┆ f64         ┆ f64        ┆ f64        │
╞══════════╪═══════════╪═══════════╪══════╪═══╪════════════╪═════════════╪════════════╪════════════╡
│ 1070758  ┆ 97645     ┆ josie     ┆ bag  ┆ … ┆ 0.25       ┆ 0.001       ┆ 0.0        ┆ 0.00001    │
│ 189421   ┆ 449467    ┆ josie     ┆ bag  ┆ … ┆ 0.181818   ┆ 0.01        ┆ 0.00001    ┆ 0.00001    │
│ 189421   ┆ 460512    ┆ josie     ┆ bag  ┆ … ┆ 0.181818   ┆ 0.001       ┆ 0.0        ┆ 0.0        │
│ 834709   ┆ 1129943   ┆ josie     ┆ bag  ┆ … ┆ 0.25       ┆ 0.001       ┆ 0.0        ┆ 0.0        │
│ 570689   ┆ 1097784   ┆ josie     ┆ bag  ┆ … ┆ 0.090909   ┆ 0.001       ┆ 0.0        ┆ 0.0        │
│ …        ┆ …         ┆ …         ┆ …    ┆ … ┆ …          ┆ …           ┆ …          ┆ …          │
│ 1484462  ┆ 513714    ┆ josie     ┆ bag  ┆ … ┆ 0.2037037  ┆ 0.001       ┆ 0.0        ┆ 0.00001    │
│ 1714748  ┆ 1105039   ┆ josie     ┆ bag  ┆ … ┆ 0.25       ┆ 0.001       ┆ 0.0        ┆ 0.0        │
│ 376146   ┆ 906397    ┆ josie     ┆ bag  ┆ … ┆ 0.016667   ┆ 0.001       ┆ 0.00001    ┆ 0.00001    │
│ 1216805  ┆ 1339027   ┆ josie     ┆ bag  ┆ … ┆ 0.052885   ┆ 0.002       ┆ 0.00001    ┆ 0.00001    │
│ 1070758  ┆ 338080    ┆ josie     ┆ bag  ┆ … ┆ 0.25       ┆ 0.001       ┆ 0.0        ┆ 0.00001    │
└──────────┴───────────┴───────────┴──────┴───┴────────────┴─────────────┴────────────┴────────────┘

In [5]:
qgroups = sorted([(q[0], g.sort(by='sloth_overlap', descending=True)) for q, g in data.group_by(by='query_id')])

In [5]:
len(qgroups)

30

In [6]:
i = 4
doc = dlh.get_table_by_numeric_id(qgroups[i][0])
print(f'i: {i}, table ID: {qgroups[i][0]}, #matches={qgroups[i][1].shape[0]}, #header_rows={len(doc["headers"])}, #rows={len(doc["content"])}, #columns={len(doc["content"][0])}, valid_columns={doc["valid_columns"]}')

i: 4, table ID: 1598208, #matches=20, #header_rows=1, #rows=31, #columns=8, valid_columns=[0, 0, 1, 1, 0, 0, 0, 0]

In [7]:
qgroups[i][1].head()

shape: (5, 22)
┌──────────┬───────────┬───────────┬──────┬───┬────────────┬─────────────┬────────────┬────────────┐
│ query_id ┆ result_id ┆ algorithm ┆ mode ┆ … ┆ area_ratio ┆ sloth_time( ┆ set_time(s ┆ bag_time(s │
│ ---      ┆ ---       ┆ ---       ┆ ---  ┆   ┆ ---        ┆ s)          ┆ )          ┆ )          │
│ i64      ┆ i64       ┆ str       ┆ str  ┆   ┆ f64        ┆ ---         ┆ ---        ┆ ---        │
│          ┆           ┆           ┆      ┆   ┆            ┆ f64         ┆ f64        ┆ f64        │
╞══════════╪═══════════╪═══════════╪══════╪═══╪════════════╪═════════════╪════════════╪════════════╡
│ 1598208  ┆ 1196605   ┆ josie     ┆ bag  ┆ … ┆ 0.652174   ┆ 0.001       ┆ 0.00002    ┆ 0.0        │
│ 1598208  ┆ 706709    ┆ josie     ┆ bag  ┆ … ┆ 0.467742   ┆ 0.001       ┆ 0.0        ┆ 0.00001    │
│ 1598208  ┆ 1635739   ┆ josie     ┆ bag  ┆ … ┆ 0.435484   ┆ 0.001       ┆ 0.00001    ┆ 0.00001    │
│ 1598208  ┆ 48147     ┆ josie     ┆ bag  ┆ … ┆ 0.435484   ┆ 0.003       ┆ 0.0        ┆ 0.00001    │
│ 1598208  ┆ 1709936   ┆ josie     ┆ bag  ┆ … ┆ 0.435484   ┆ 0.001       ┆ 0.0        ┆ 0.00001    │
└──────────┴───────────┴───────────┴──────┴───┴────────────┴─────────────┴────────────┴────────────┘

In [31]:
pl.DataFrame(doc['content'], orient='row')

shape: (24, 5)
┌──────────┬───────────────────┬──────────┬──────────┬────────────────────────────┐
│ column_0 ┆ column_1          ┆ column_2 ┆ column_3 ┆ column_4                   │
│ ---      ┆ ---               ┆ ---      ┆ ---      ┆ ---                        │
│ str      ┆ str               ┆ str      ┆ str      ┆ str                        │
╞══════════╪═══════════════════╪══════════╪══════════╪════════════════════════════╡
│ 20       ┆ David Baer        ┆ Defense  ┆ Handler  ┆ Shippensburg University    │
│ 28       ┆ Mike Baer         ┆ Defense  ┆ Handler  ┆ Drexel University          │
│ 13       ┆ David Brandolph   ┆ Offense  ┆ Handler  ┆ Arcadia University         │
│ 5        ┆ Kevin Chiang      ┆ Defense  ┆ Cutter   ┆ West Chester University    │
│ 6        ┆ Leon Chou         ┆ Defense  ┆ Cutter   ┆ University of Pennsylvania │
│ …        ┆ …                 ┆ …        ┆ …        ┆ …                          │
│ 27       ┆ Jake Rainwater    ┆ Offense  ┆ Cutter   ┆ Dickinson College          │
│ 16       ┆ Arthur Shull      ┆ Offense  ┆ Cutter   ┆ Cornell University         │
│ 24       ┆ David Stoddard    ┆ Defense  ┆ Cutter   ┆ The College of New Jersey  │
│ 3        ┆ Harrison Treegoob ┆ Offense  ┆ Handler  ┆ Penn State University      │
│ 23       ┆ Stephen Thor      ┆ Offense  ┆ Cutter   ┆ Penn State University      │
└──────────┴───────────────────┴──────────┴──────────┴────────────────────────────┘

In [32]:
bag_q = set(table_to_tokens(doc['content'], doc['valid_columns'], 'bag', None, set(), [lowercase_translator, whitespace_translator]))
docr = dlh.get_table_by_numeric_id(qgroups[i][1][0]['result_id'][0])
bag_r = set(table_to_tokens(docr['content'], docr['valid_columns'], 'bag', None, set(), [lowercase_translator, whitespace_translator]))
doc['_id_numeric'], len(bag_q), len(bag_r), len(bag_q | bag_r), len(bag_q & bag_r), bag_q & bag_r

(1370219,
 96,
 96,
 146,
 46,
 {'Cornell University@#1',
  'Cutter@#1',
  'Cutter@#10',
  'Cutter@#11',
  'Cutter@#12',
  'Cutter@#13',
  'Cutter@#14',
  'Cutter@#2',
  'Cutter@#3',
  'Cutter@#4',
  'Cutter@#5',
  'Cutter@#6',
  'Cutter@#7',
  'Cutter@#8',
  'Cutter@#9',
  'Defense@#1',
  'Defense@#10',
  'Defense@#11',
  'Defense@#12',
  'Defense@#13',
  'Defense@#2',
  'Defense@#3',
  'Defense@#4',
  'Defense@#5',
  'Defense@#6',
  'Defense@#7',
  'Defense@#8',
  'Defense@#9',
  'Handler@#1',
  'Handler@#2',
  'Handler@#3',
  'Handler@#4',
  'Handler@#5',
  'Handler@#6',
  'Handler@#7',
  'Offense@#1',
  'Offense@#10',
  'Offense@#2',
  'Offense@#3',
  'Offense@#4',
  'Offense@#5',
  'Offense@#6',
  'Offense@#7',
  'Offense@#8',
  'Offense@#9',
  'Swarthmore College@#1'})

In [33]:
IDs = {
    # ricerca di tabelle con contenuto identiche/simili
    'contenuto_simile': [1749224, 1484462, 1714748, 551590, 1324441, 1121158, 1216805, 1370219, 1216034, 1749224, 1623113, 1591122, 463713, 376146],
    
    # esempio di pulizia per tabelle sporche? Con token e robe strane in mezzo, tipo "{{nom}}"
    'pulizia_tabelle_sporche': [1249360, 1630678, 612879],
    
    # esempio di ricerca di tabelle con stessi nomi per verifica di coerenza dati
    'verifica_coerenza': [1878225, 1878225, 1598208, 766881, 1195130, 834709, 323280],

    'scartate': [570689, 1394327, 189421, 1347854, 1536126, 737775, 1070758, 461074]
}

### How many tables do we have with the previous tables and the relative result IDs?

In [34]:
query_ids = {qid for k, qlist in IDs.items() if k != 'scartate' for qid in qlist}
len(query_ids)

22

In [35]:
[q for q in qgroups[0][1]['result_id']]

[505572,
 533946,
 674707,
 675588,
 747751,
 691431,
 1016799,
 847565,
 906844,
 831783,
 479749,
 808444,
 837511,
 678351,
 645723,
 674928,
 807451,
 655816,
 974076,
 685388]

In [36]:
ids = {i for qid, qgroup in qgroups if qid in query_ids and qgroup.shape[0] >= 5 for i in qgroup['result_id']}
len(ids | query_ids)

450

In [37]:
ids = ids | query_ids

### Get random tables to complete the datalake

In [40]:
i = 0
n = 0
for doc in dlh.scan_tables():
    i += 1
    if len(doc['headers']) == 1:
        n += 1
    if i == 10000:
        break
n

4287

In [41]:
import random

datalake_size = 1_000
datalake_ids = ids
n_tables = dlh.count_tables()


for doc in dlh.scan_tables():
    if doc['_id_numeric'] not in datalake_ids and is_valid_table(doc['content'], doc['valid_columns']) and len(doc['headers']) == 1 and random.random() < 0.5:
        datalake_ids.add(doc['_id_numeric'])
    if len(datalake_ids) >= datalake_size:
        break
    
    print(f'{doc["_id_numeric"]}/{n_tables}, found {len(datalake_ids)}/{datalake_size} tables', end='\r')

In [42]:
import json

IDs = {
    'all_ids': list(datalake_ids),
    'query_ids': list(query_ids)
}

with open('datalake_ids.json', 'w') as fw:
    json.dump(IDs, fw, indent=4)

IDs

{'all_ids': [4098,
  10,
  4110,
  4111,
  18,
  23,
  1761308,
  29,
  4128,
  4133,
  40,
  1290283,
  4141,
  47,
  48,
  880689,
  4143,
  51,
  4144,
  4156,
  4159,
  49216,
  4169,
  1249360,
  614481,
  80,
  4183,
  90,
  909405,
  471135,
  95,
  98,
  4196,
  105,
  1769579,
  114,
  4213,
  119,
  8313,
  121,
  1695867,
  125,
  684160,
  1532033,
  200834,
  128,
  132,
  4225,
  1216646,
  4231,
  137,
  4236,
  141,
  4237,
  4238,
  144,
  925846,
  860312,
  4248,
  155,
  159,
  160,
  161,
  162,
  163,
  4262,
  4264,
  1245360,
  4282,
  606400,
  1634500,
  528592,
  214,
  1749223,
  1749224,
  1593580,
  1921265,
  241,
  245,
  256,
  257,
  1564930,
  259,
  1749255,
  373000,
  264,
  823562,
  1888522,
  276,
  277,
  280,
  1528093,
  1605917,
  285,
  288,
  289,
  292,
  1216805,
  831783,
  302,
  306,
  314,
  627013,
  327,
  1249611,
  343,
  1716573,
  354,
  905572,
  356,
  98678,
  375,
  377,
  378,
  1081725,
  381,
  382,
  401792,
  384,
  2003332,
  1372550,
  1528206,
  1773968,
  1724821,
  1868182,
  407,
  1757593,
  422299,
  411,
  413,
  844194,
  889258,
  401834,
  432,
  433,
  606647,
  90558,
  452,
  655816,
  460,
  461,
  462,
  464,
  1630678,
  471,
  475,
  476,
  485,
  489,
  491,
  495,
  496,
  766450,
  1667575,
  1069559,
  877051,
  561661,
  510,
  479749,
  517,
  340487,
  1339918,
  1540627,
  1540628,
  807451,
  1737244,
  557,
  1102387,
  1720886,
  1720887,
  1909307,
  1909308,
  1196605,
  1909310,
  1909309,
  1225279,
  576,
  581,
  606793,
  29264,
  1208919,
  607,
  608,
  612,
  619,
  626,
  633,
  638,
  901768,
  1270415,
  658,
  557717,
  664,
  668,
  669,
  670,
  1192628,
  694,
  697,
  700,
  719,
  721,
  723,
  754389,
  512729,
  731,
  922332,
  733,
  735,
  746,
  748,
  749,
  1528558,
  1528563,
  1528572,
  767,
  1598208,
  1225478,
  942854,
  1762056,
  783,
  786,
  795,
  807,
  811,
  812,
  1123117,
  813,
  316210,
  818,
  1581878,
  1528634,
  826,
  828,
  829,
  831,
  832,
  837,
  1528647,
  840,
  841,
  938831,
  857,
  859,
  29533,
  156509,
  863,
  615263,
  865,
  866,
  463713,
  868,
  1000288,
  1880929,
  1758051,
  1147747,
  1135462,
  492392,
  1340266,
  874,
  879,
  1209206,
  1426298,
  1782657,
  905,
  908,
  1414029,
  912,
  920,
  922,
  923,
  924,
  508830,
  927,
  766881,
  1717159,
  1717160,
  943,
  955312,
  949,
  956,
  1536967,
  977,
  978,
  979,
  1536980,
  983,
  984,
  985,
  989,
  990,
  1016799,
  1536991,
  992,
  993,
  995,
  1536996,
  998,
  999,
  623595,
  1537003,
  1004,
  1537006,
  1011,
  1018,
  1033,
  951309,
  1037,
  1025040,
  1040,
  1045,
  1046,
  1047,
  1050,
  1537052,
  50207,
  1057,
  1058,
  1070,
  1073,
  1696824,
  1080,
  1762364,
  1991742,
  1089,
  1623113,
  2045008,
  422999,
  607325,
  1120,
  1122,
  1754218,
  1131,
  1136,
  1141,
  1159,
  1163,
  1165,
  1167,
  1168,
  1169,
  1170,
  1172,
  1174,
  1177,
  1179,
  906397,
  1181,
  1186,
  1187,
  1199,
  885943,
  1209,
  1214,
  1373381,
  1225,
  5333,
  1237,
  1245,
  1252,
  1253,
  1255,
  1262,
  1263,
  1264,
  1269,
  1273,
  1275,
  1276,
  1281,
  1282,
  865544,
  611593,
  1291,
  1293,
  1294,
  1299,
  1300,
  1301,
  1303,
  1324312,
  2000166,
  2000167,
  1025320,
  1327,
  1328,
  877880,
  1074495,
  1346,
  1350,
  685388,
  1356,
  1358,
  1359,
  1365,
  869719,
  1873240,
  1370,
  972127,
  869757,
  1873279,
  611720,
  402825,
  1418,
  1419,
  1420,
  1426,
  423319,
  1324441,
  1635739,
  1436,
  1441,
  1461,
  1762743,
  1464,
  533946,
  1469,
  1475,
  1385925,
  1299910,
  1479,
  1484,
  1488,
  1490,
  1492,
  1869274,
  1499,
  759266,
  1506,
  1507,
  1508,
  1510,
  1516,
  1520,
  1529331,
  1992183,
  808444,
  1533,
  1534,
  1984001,
  1538,
  1541,
  1066504,
  611867,
  1564,
  1567,
  247329,
  1390120,
  1577,
  1578,
  1889847,
  1594,
  1345088,
  5697,
  235075,
  1607,
  1608,
  1614,
  1620,
  1621,
  906844,
  1738337,
  1463907,
  1637,
  1638,
  1639,
  1640,
  1649,
  935539,
  550527,
  1672,
  607882,
  2008719,
  1679,
  779929,
  1690,
  1692,
  1693,
  1696,
  1697,
  505507,
  1701,
  1484461,
  1926830,
  1484462,
  505520,
  1713,
  513714,
  1935028,
  1717,
  1803958,
  1128121,
  1723,
  1731,
  1926852,
  1732,
  1595079,
  1739,
  1748,
  607962,
  173793,
  354019,
  505572,
  1447652,
  1693414,
  1529587,
  571127,
  1529592,
  571129,
  739068,
  1386240,
  210694,
  534281,
  1455893,
  1238806,
  1722135,
  579352,
  829224,
  833324,
  1509172,
  558901,
  227135,
  1763138,
  1591122,
  2082654,
  1066847,
  2000737,
  1976162,
  612199,
  1709936,
  1427328,
  1767300,
  837511,
  1161101,
  1767316,
  1591192,
  1767327,
  378785,
  583587,
  178086,
  1767334,
  83891,
  83902,
  612303,
  833538,
  833557,
  1452054,
  833562,
  1886246,
  1656877,
  2115,
  2117,
  2119,
  1075280,
  1370219,
  284780,
  1075316,
  1984637,
  1075331,
  2182,
  2189,
  2190,
  2191,
  706709,
  2197,
  706711,
  80030,
  1075358,
  1091756,
  2221,
  2222,
  2224,
  481459,
  1079479,
  2239,
  600257,
  866500,
  2245,
  2250,
  706763,
  1878225,
  2258,
  2259,
  2260,
  2261,
  1272024,
  481498,
  2276,
  747751,
  2280,
  2281,
  2289,
  2296,
  2300,
  2306,
  2308,
  2316,
  1104142,
  2323,
  1935636,
  2326,
  2328,
  2330,
  1104163,
  2344,
  2347,
  1751348,
  2360,
  1075513,
  2365,
  1423692,
  1358162,
  2386,
  2388,
  858457,
  1198432,
  858479,
  612721,
  6517,
  1976693,
  2439,
  2442,
  1698187,
  2460,
  2461,
  2468,
  2472,
  2485,
  387514,
  1944000,
  2497,
  2498,
  2508,
  678351,
  2511,
  2521,
  2527,
  2533,
  2534,
  2535,
  604649,
  2544,
  1964531,
  924152,
  2556,
  2557,
  2561,
  2562,
  711182,
  612879,
  375312,
  2576,
  2592,
  2597,
  637482,
  1042993,
  604721,
  1534516,
  2614,
  2615,
  2619,
  1714748,
  1681981,
  2620,
  2624,
  2627,
  2634,
  1886798,
  2639,
  2647,
  645723,
  2655,
  2659,
  88683,
  2667,
  2668,
  2669,
  2673,
  1710724,
  2693,
  2700,
  1641106,
  199332,
  551590,
  936617,
  359099,
  2749,
  2758,
  1030863,
  2781,
  1596129,
  1862369,
  2791,
  2792,
  2793,
  2794,
  2799,
  2808,
  2811,
  2816,
  2849,
  928546,
  2850,
  1645353,
  391979,
  2863,
  2869,
  2870,
  105272,
  1370936,
  789308,
  2879,
  2902,
  2903,
  605022,
  613221,
  1780582,
  2924,
  605047,
  768893,
  1121149,
  1121150,
  1121151,
  1121153,
  1121152,
  1121154,
  1121156,
  1121157,
  1121158,
  502659,
  1121159,
  1121160,
  1121161,
  1121162,
  1121163,
  674707,
  2966,
  1522598,
  2046886,
  1194921,
  3000,
  3008,
  1252291,
  3012,
  3013,
  3014,
  3015,
  1641416,
  740304,
  3024,
  3030,
  3032,
  3033,
  3034,
  3037,
  3041,
  3042,
  3045,
  3046,
  166888,
  3049,
  580587,
  3053,
  3056,
  3057,
  3059,
  3063,
  3064,
  3067,
  1436672,
  3072,
  3073,
  3074,
  3075,
  1367045,
  3077,
  584712,
  3085,
  1596430,
  3086,
  3088,
  48147,
  1428500,
  3093,
  3109,
  3112,
  1498156,
  1063992,
  3129,
  3130,
  871486,
  1080388,
  3140,
  44111,
  1993813,
  1199189,
  1256537,
  3163,
  3173,
  1756263,
  3177,
  3182,
  674928,
  1887345,
  3189,
  1195130,
  3197,
  3198,
  1096837,
  1105039,
  3216,
  834709,
  1629339,
  3233,
  3244,
  994491,
  3286,
  3290,
  1776863,
  3300,
  691431,
  3304,
  1821937,
  974076,
  3328,
  3329,
  3333,
  3336,
  515338,
  3339,
  3340,
  3344,
  3346,
  3348,
  3350,
  3352,
  3367,
  3369,
  3370,
  3371,
  3379,
  3382,
  789816,
  3386,
  3388,
  347453,
  3389,
  3392,
  3395,
  3397,
  3401,
  3403,
  3408,
  3409,
  376146,
  3415,
  421211,
  3420,
  3421,
  3440,
  3443,
  871804,
  1863044,
  253333,
  3477,
  1088941,
  3510,
  93623,
  261573,
  2125253,
  3525,
  3529,
  339407,
  3536,
  1486294,
  1129943,
  3542,
  3543,
  3545,
  3554,
  3557,
  1773032,
  3565,
  323054,
  3566,
  3568,
  3571,
  3575,
  3579,
  1994238,
  3582,
  613917,
  1216034,
  892451,
  3618,
  3619,
  3622,
  1023538,
  44599,
  605771,
  556621,
  1195599,
  642641,
  1764946,
  3666,
  1916502,
  3674,
  3677,
  1998434,
  3687,
  7785,
  3690,
  3692,
  3697,
  3699,
  3703,
  3704,
  3705,
  3707,
  3708,
  52862,
  1740420,
  3726,
  1339027,
  3733,
  3737,
  3739,
  3744,
  3750,
  3752,
  3755,
  3759,
  3761,
  3762,
  3766,
  3769,
  1601214,
  1584832,
  1994433,
  3787,
  1449676,
  847565,
  138959,
  323280,
  491221,
  3808,
  3810,
  1761016,
  675588,
  122628,
  696077,
  3859,
  3861,
  3863,
  3865,
  3870,
  188195,
  3878,
  3883,
  1527598,
  1634098,
  3890,
  3893,
  3901,
  1531711,
  3922,
  1240919,
  85847,
  3939,
  1273702,
  315246,
  3954,
  1253238,
  3959,
  315263,
  835457,
  1216385,
  835460,
  1253254,
  835462,
  3998,
  868255,
  1716127,
  4000,
  4001,
  4002,
  4006,
  4007,
  1060788,
  1175482,
  4056,
  4058,
  4064,
  4068,
  4071,
  4079,
  1036275,
  8181,
  4089,
  4094],
 'query_ids': [1598208,
  1121158,
  612879,
  834709,
  1324441,
  766881,
  1216034,
  1216805,
  551590,
  1484462,
  1714748,
  1623113,
  1249360,
  1878225,
  1591122,
  376146,
  323280,
  1630678,
  463713,
  1749224,
  1370219,
  1195130]}

### Get all the documents and save them

In [43]:
docs = []

mongoclient = pymongo.MongoClient()
collection = mongoclient.sloth.latest_snapshot_tables

for id in datalake_ids:
   doc = collection.find_one({f'_id_numeric': id})
   docs.append(doc)

In [44]:
len(docs)

1000

In [45]:
with open('demo_datalake.json', 'w') as fw:
    json.dump(docs, fw)

## Inspect the tables

In [6]:
import tabulate

In [7]:
mongoclient = pymongo.MongoClient()
collection = mongoclient.sloth.latest_snapshot_tables

In [18]:
i = 2

qid = qgroups[i][0]
results = [row for row in qgroups[i][1].select('result_id', 'sloth_overlap').rows()]

In [19]:
results

[(1634500, 2),
 (877051, 1),
 (789308, 1),
 (844194, 1),
 (261573, 1),
 (29533, 1),
 (1998434, 1),
 (906397, 1)]

In [20]:
qdoc = collection.find_one({'_id_numeric': qid})
print(qdoc['_id_numeric'], qdoc['_id'], qdoc['context'])
print(tabulate.tabulate(qdoc['content']))

376146 597.79521 ['Viceroyalty of the Río de la Plata', 'Government | List of viceroys']
--  -----------------------------------------------------------  ------------------------------  --------------------------------------  ----------------  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
#   Picture                                                      Name                            Term                                    Designation       Notes
1   File:Pedro de Cevallos.jpg                                   Pedro Antonio de Cevallos       15 October 1777 &ndash; 26 June 1778    1 August 1776     Appointed by Charles III of Spain
2   File:Juan José de Vértiz y Salcedo.jpg                       Juan José de Vértiz y Salcedo   26 June 1778 &ndash; 7 March 1784       27 October 1777   Appointed by Charles III of Spain; resigned
3   File:Virrey Loreto.jpg                                       Nicolás del Campo               7 March 1784 &ndash; 4 December 1789    13 August 1783    Appointed by Charles III of Spain
4   File:Nicolás_Antonio_de_Arredondo.png                        Nicolás Antonio de Arredondo    4 December 1789 &ndash; 16 March 1795   21 March 1789     Appointed by Charles IV of Spain, resigned
5   File:Pedro Melo de Portugal.jpg                              Pedro Melo de Portugal          16 March 1795 &ndash; 15 April 1797     5 February 1794   Appointed by Charles IV of Spain, died in office
-                                                                Real Audiencia of Buenos Aires  15 April 1797 &ndash; 2 May 1797                          Interim government until the arrival of a new viceroy
6   File:Antonio Olaguer Feliú.png                               Antonio Olaguer Feliú           2 May 1797 &ndash; 14 May 1799                            During his mandate, he had to contend with the presence of British and Portuguese forces in the Río de la Plata region, as well as nascent revolutionary sentiment inspired by the recent French Revolution. He opened the port of Buenos Aires to foreign traffic in a bid to stimulate the commercial activities of the Viceroyalty.
7   File:Avilés1.jpg                                             Gabriel de Avilés,              14 March 1799 &ndash; 20 May 1801       25 October 1797
                                                                 2nd Marquis of Avilés
8   File:Joaquin del Pino.jpg                                    Joaquín del Pino y Rozas        20 May 1801 &ndash; 11 April 1804       14 July 1800      Appointed by Charles IV of Spain, died in office
9   File:Rafael de Sobremonte.jpg                                Rafael de Sobremonte            24 April 1804 &ndash; 10 February 1807  10 November 1804  During the British invasions of the Río de la Plata Buenos Aires and Montevideo fell under British authority for brief periods of time. Sobremonte was forced on 14 August 1806 by an open cabildo to move to Montevideo, delegating in Santiago de Liniers the military authority and in the Audience the other areas of government. He was removed completely as viceroy by a martial court, with Liniers elected as interim viceroy.
10  File:Santiago de Liniers.jpg                                 Santiago de Liniers             10 February 1807 &ndash; 30 June 1809                     Interim viceroy, confirmed in office by Charles IV of Spain, replaced by the Junta of Seville.
11  File:Baltasar Hidalgo de Cisneros.jpg                        Baltasar Hidalgo de Cisneros    15 July 1809 &ndash; 25 May 1810        11 February 1809  Appointed by the Junta of Seville, ousted from office by the May Revolution, replaced by the Primera Junta.
12  File:General Francisco Javier de Elío (Museo del Prado).jpg  Francisco Javier de Elío        19 January 1811 &ndash; January 1812    31 August 1810    Self-proclaimed viceroy after the May Revolution, confirmed as such by the Junta of Cadiz, which also declared Montevideo the new capital and Buenos Aires a rebel city.
--  -----------------------------------------------------------  ------------------------------  --------------------------------------  ----------------  ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [24]:
j = 1

rid = results[j][0]
rdoc = collection.find_one({'_id_numeric': rid})
print(rdoc['_id_numeric'], rdoc['_id'], rdoc['context'])
print(tabulate.tabulate(rdoc['content']))

877051 415.119929 ['List of Great Britain by-elections (1790–1800)', 'By-elections | List of MPs elected in the British general election, 179618th Parliament (1796–1800)']
-----------------  ------------------------  ----  -------------------------------  -----------------------------------  -------------------------------------------------------------------------------------------
Date               Constituency              c/u   Former Incumbent                 Winner                               Cause
26 October 1796    Great Yarmouth            c     Lord Charles Townshend           Henry Jodrell                        Death (Murdered)
26 October 1796    Great Yarmouth            c     Stephens Howe                    William Loftus                       Death
26 October 1796    Hereford                  u*    John Scudamore                   John Scudamore II                    Death
26 October 1796    Peterborough              u*    Richard Benyon                   French Laurence                      Death
28 October 1796    St Mawes                  u     George Nugent                    Jeremiah Crutchley                   Chose to sit for Buckingham
28 October 1796    Westbury                  u     George Ellis                     George William Richard Harcourt      Chose to sit for Seaford
29 October 1796    Stamford                  u*    Sir George Howard                John Leland                          Death
1 November 1796    Gatton                    u     Sir Gilbert Heathcote            John Heathcote                       Chose to sit for Lincolnshire
1 November 1796    Wareham                   u     Charles Rose Ellis               Sir Godfrey Vassall                  Chose to sit for Seaford
2 November 1796    Brecon                    u*    Charles Gould Morgan             Sir Robert Salusbury                 Chose to sit for Monmouthshire
4 November 1796    Ashburton                 u*    Lawrence Palk                    Walter Palk                          Chose to sit for Devon
5 November 1796    Haslemere                 u*    James Lowther                    George Wood                          Chose to sit for Westmorland
8 November 1796    Flintshire                c     Sir Roger Mostyn                 Sir Thomas Mostyn                    Death
8 November 1796    Flintshire                c     Sir Thomas Mostyn                John Lloyd                           By-election result reversed on petition 12 June 1797
11 November 1796   Newport (I.o.w.)          u     Jervoise Clarke Jervoise         William Hamilton Nisbet              Chose to sit for Yarmouth
11 November 1796   Newport (I.o.w.)          u     Edward Rushworth                 Andrew Strahan                       Chose to sit for Yarmouth
22 November 1796   Malmesbury                c     Samuel Smith                     Philip Metcalfe                      Chose to sit for Leicester
22 November 1796   Southwark                 c     George Woodford Thellusson       George Woodford Thellusson           Void Election
22 November 1796   Southwark                 c*    George Woodford Thellusson       George Tierney                       By-election result reversed on petition 21 December 1796
22 November 1796   West Looe                 u     John Buller                      John Hookham Frere                   Resignation
30 November 1796   Ayrshire                  u*    Hugh Montgomerie                 William Fullarton                    Became a Scottish Peer
8 December 1796    Bath                      u*    Viscount Weymouth                Lord John Thynne                     Succeeded to a peerage
9 December 1796    Higham Ferrers            u     James Adair                      James Adair                          Chief Justice of Chester
10 December 1796   Saltash                   u     Edward Bearcroft                 Charles Smith                        Death
13 December 1796   Winchelsea                u     Richard Barwell                  William Devaynes                     Resignation
16 December 1796   Weobley                   u     Lord John Thynne                 Inigo Freeman Thomas                 Resignation to contest Bath
2 January 1797     Derby                     u*    Lord George Cavendish            George Walpole                       Resignation to contest Derbyshire
7 January 1797     Petersfield               u     Hylton Jolliffe                  Sir John Sinclair                    Resignation
12 January 1797    Denbigh Boroughs          u     Richard Myddelton                Thomas Jones                         Death
12 January 1797    Derbyshire                u*    Lord John Cavendish              Lord George Cavendish                Death
20 February 1797   Bletchingley              u     Sir Lionel Copley                Benjamin Hobhouse                    Chose to sit for Tregony
20 February 1797   New Windsor               c     Henry Isherwood                  Sir William Johnston                 Death
22 February 1797   Aldborough                u     Richard Muilman Trench Chiswell  John Blackburn                       Death
22 February 1797   Bossiney                  u*    John Stuart Wortley              James Archibald Stuart               Death
22 February 1797   Midhurst                  u     Sylvester Douglas                Sylvester Douglas                    Junior Lord of the Treasury
10 March 1797      Canterbury                c     John Baker                       John Baker                           Void Election
10 March 1797      Canterbury                c     John Baker                       Sir John Honywood                    By-election result reversed on petition 12 May 1797
10 March 1797      Canterbury                c     Samuel Elias Sawbridge           Samuel Elias Sawbridge               Void Election
10 March 1797      Canterbury                c     Samuel Elias Sawbridge           George Gipps                         By-election result reversed on petition 12 May 1797
21 March 1797      Yarmouth                  u     Edward Rushworth                 William Peachy                       Resignation
3 May 1797         Stirling Burghs           u     Andrew James Cochrane Johnstone  William Tait                         Resignation (Governor of Dominica)
8 May 1797         Scarborough               u     Lord Charles Henry Somerset      Lord Charles Henry Somerset          Comptroller of the Household
15 May 1797        Dunbartonshire            u     William Cunninghame Bontine      Alexander Telfer Smollett            Resignation
5 June 1797        Reading                   u     Richard Aldworth Neville         John Simeon                          Succeeded to a peerage
8 June 1797        Kincardineshire           u     Robert Barclay Allardice         Sir John Wishart Belches             Death
14 June 1797       Leominster                c     John Hunter                      William Taylor                       Resignation
30 June 1797       Buckinghamshire           u*    James Grenville                  Earl Temple                          Resignation
7 July 1797        Plymouth                  u     Sir Frederick Leman Rogers       Francis Glanville                    Death
25 July 1797       Newark-on-Trent           u*    Thomas Manners Sutton            Thomas Manners Sutton                Chief Justice of the North Wales Circuit
27 July 1797       Dover                     c     Charles Small Pybus              Charles Small Pybus                  Junior Lord of the Treasury
29 July 1797       Arundel                   u     Sir George Thomas                Nisbet Balfour                       Resignation
29 July 1797       Old Sarum                 u     The Earl of Mornington           Charles Watkin Williams Wynn         Resignation
31 July 1797       Orford                    u     Viscount Castlereagh             Earl of Yarmouth                     Resignation
31 July 1797       Penryn                    u*    Thomas Wallace                   Thomas Wallace                       Lord of the Admiralty
19 August 1797     Anstruther Easter Burghs  u*    John Anstruther                  Alexander Campbell                   Resignation (Chief Justice of Bengal)
15 September 1797  Newton                    c(*)  Thomas Peter Legh                Thomas Langford Brooke               Death
15 September 1797  Newton                    c(*)  Thomas Langford Brooke           Peter Patten                         By-Election result reversed on petition 13 December 1797
25 October 1797    Leicestershire            u*    Penn Assheton Curzon             George Anthony Legh Keck             Death
6 November 1797    Liskeard                  u     Edward James Eliot               The Earl of Inchiquin                Death
10 November 1797   Chichester                u*    Thomas Steele                    Thomas Steele                        King's Remembrancer
11 November 1797   Nottingham                u*    The Lord Carrington              Sir John Borlase Warren              Became a British Peer
15 November 1797   Norfolk                   u*    Sir John Wodehouse               Jacob Henry Astley                   Elevated to the peerage
16 November 1797   Marlborough               u     James Bruce                      Robert Brudenell                     Resignation
27 November 1797   Hythe                     u     Sir Charles Farnaby Radcliffe    Charles Marsham                      Death
2 December 1797    Tain Burghs               u     William Dundas                   William Dundas                       Commissioner of the Board of Control
14 December 1797   Andover                   u*    Benjamin Lethieullier            Thomas Assheton Smith                Death
18 December 1797   Tewkesbury                c*    William Dowdeswell               Christopher Bethell Codrington       Resignation (Governor of the Bahamas)
23 December 1797   Great Bedwyn              u*    Thomas Bruce                     Robert John Buxton                   Death
3 January 1798     Newcastle-upon-Tyne       u*    Charles Brandling                Charles John Brandling               Resignation
8 January 1798     City Durham               u*    William Henry Lambton            Ralph John Lambton                   Death
26 February 1798   Clackmannanshire          u     Sir Ralph Abercromby             Sir Robert Abercromby                Resignation
27 February 1798   Malton                    u*    Viscount Milton                  Bryan Cooke                          Succeeded to a peerage
23 April 1798      East Looe                 u     William Graves                   Frederick William Buller             Resignation
28 April 1798      Ripon                     u*    The Lord Headley                 John Heathcote                       Death
3 July 1798        Hastings                  u     Sir James Sanderson              William Sturges                      Death
5 July 1798        Malton                    u*    William Baldwin                  Charles Lawrence Dundas              Resignation
4 September 1798   Higham Ferrers            u     James Adair                      Stephen Thurston Adey                Death
27 October 1798    Ripon                     u*    William Lawrence                 Sir James Graham                     Death
1 November 1798    Leicestershire            u*    William Pochin                   Sir Edmund Cradock Hartopp           Death
3 December 1798    Richmond                  u*    Charles George Beauclerk         Arthur Shakespeare                   Resignation
6 December 1798    Downton                   u     Sir William Scott                Sir William Scott                    Judge of the Admiralty Court
10 December 1798   Banffshire                u*    William Grant                    William Grant                        Chief Justice of Chester
28 January 1799    New Woodstock             u     The Lord Lavington               Charles Moore                        Resignation (Governor of the Leeward Islands)
1 March 1799       Wareham                   u     Lord Robert Spencer              Joseph Chaplin Hankey                Resignation
2 March 1799       Beverley                  c     William Tatton                   John Morritt                         Death
2 March 1799       Lichfield                 c*    Lord Granville Leveson Gower     Sir John Wrottesley                  Resignation to contest Staffordshire
8 March 1799       Staffordshire             u*    Earl Gower                       Lord Granville Leveson Gower         Joint Postmaster General and elevation to the House of Lords through a writ of acceleration
13 March 1799      Rye                       u*    Lord Hawkesbury                  Lord Hawkesbury                      Master of the Mint
14 March 1799      Montgomeryshire           u*    Francis Lloyd                    Charles Watkin Williams Wynn         Death
18 March 1799      New Radnor Boroughs       u*    Viscount Malden                  Richard Price                        Succeeded to a peerage
19 March 1799      Flint Boroughs            u*    Watkin Williams                  Watkin Williams                      Constable of Flint Castle
20 March 1799      Old Sarum                 u     Charles Watkin Williams Wynn     Sir George Yonge                     Resignation to contest Montgomeryshire
26 March 1799      Wendover                  u*    George Canning                   George Canning                       Commissioner of the Board of Control
27 March 1799      Monmouth                  u     Sir Charles Thompson             Lord Robert Edward Henry Somerset    Death
30 March 1799      Helston                   u     Richard Richards                 Lord Francis Godolphin Osborne       Resignation
2 April 1799       Mitchell                  u     Sir Christopher Hawkins          John Simpson                         Resignation
8 April 1799       Stockbridge               u     Joseph Foster Barham             John Agnew                           Resignation
10 April 1799      Harwich                   u     Richard Hopkins                  Henry Augustus Dillon Lee            Death
19 April 1799      Gatton                    u     John Heathcote                   Walter Stirling                      Resignation to contest Ripon
23 May 1799        East Looe                 u     John Buller                      John Smith                           Resignation
27 May 1799        Norwich                   c     Henry Hobart                     John Frere                           Death
28 May 1799        Ilchester                 u     Sir Robert Clayton               Lewis Bayly                          Death
17 June 1799       Plympton Erle             u     William Mitchell                 Richard Hankey                       Resignation
18 June 1799       Appleby                   u     John Tufton                      Robert Adair                         Death
19 June 1799       Fowey                     u*    Reginald Pole Carew              Edward Golding                       Resignation (Commissioner for Auditing Public Accounts)
24 July 1799       East Looe                 u     John Smith                       Sir John Mitford                     Resignation
29 July 1799       Bere Alston               u*    Sir John Mitford                 Lord Lovaine                         Resignation to contest East Looe
2 August 1799      Banffshire                u*    William Grant                    Sir William Grant                    Resignation pending appointment as Solicitor General for England and Wales
23 August 1799     Boroughbridge             u*    Sir John Scott                   John Scott                           Elevated to the peerage
3 October 1799     Argyllshire               u*    Lord Frederick Campbell          Lord John Campbell                   Resignation
11 October 1799    Edinburghshire            u     Robert Dundas                    Robert Dundas                        Joint Clerk and Keeper of Sasines
30 October 1799    Eye                       u*    Mark Singleton                   James Cornwallis                     Resignation
7 November 1799    Dunbartonshire            u*    Alexander Telfer Smollett        James Colquhoun                      Death
8 November 1799    Flintshire                u*    John Lloyd                       Sir Thomas Mostyn                    Resignation
10 February 1800   Bramber                   u     Sir Charles Rouse Boughton       John Henry Newbolt                   Resignation (Commissioner for Auditing Public Accounts)
24 February 1800   Stirling Burghs           c*    William Tait                     Alexander Forrester Inglis Cochrane  Death
17 March 1800      City Durham               c     Sir Henry Vane Tempest           Michael Angelo Taylor                Resignation
26 March 1800      Aldeburgh                 u     Michael Angelo Taylor            George Johnstone                     Resignation to contest City Durham
1 April 1800       Weobley                   u     Inigo Freeman Thomas             Sir Charles Talbot                   Resignation
5 April 1800       New Windsor               u*    Robert Fulke Greville            Robert Fulke Greville                Groom of the Bedchamber
9 April 1800       Lincoln                   u*    George Rawdon                    Humphrey Sibthorp                    Death
18 April 1800      Westbury                  u     George William Richard Harcourt  John Simon Harcourt                  Resignation
29 April 1800      Gatton                    u     John Petrie                      James Du Pre                         Resignation to contest Ripon
8 May 1800         Newport (I.o.w.)          u     William Hamilton Nisbet          Sir George Dallas                    Resignation
12 May 1800        Haddingtonshire           u*    Sir Hew Dalrymple Hamilton       Charles Hope                         Resignation
12 May 1800        Linlithgowshire           u*    John Hope                        Alexander Hope                       Resignation
22 May 1800        Dumfries Burghs           u     Alexander Hope                   William Johnstone Hope               Resignation to contest Linlithgowshire
31 May 1800        Christchurch              u     William Stewart Rose             William Chamberlayne                 Resignation
2 June 1800        Edinburgh                 u*    Henry Dundas                     Henry Dundas                         Keeper of the Privy Seal of Scotland
5 June 1800        Wendover                  u     George Canning                   George Canning                       Joint Paymaster of the Forces
7 June 1800        Tiverton                  u*    Dudley Ryder                     Dudley Ryder                         Treasurer of the Navy
9 June 1800        Penryn                    u     Thomas Wallace                   Thomas Wallace                       Commissioner of the Board of Control
9 June 1800        Rye                       u     Robert Saunders Dundas           Robert Saunders Dundas               Keeper of the Signet for Scotland
16 June 1800       Wareham                   u*    Sir Godfrey Webster              John Calcraft                        Death
21 June 1800       Wigan                     u     Orlando Bridgeman                George William Gunning               Succeeded to a peerage
23 June 1800       St Albans                 u*    The Earl of Lucan                William Stephen Poyntz               Resignation
5 July 1800        St Germans                u     William Eliot                    William Eliot                        Lord of the Admiralty

In [32]:
from dltf.sloth.sloth import sloth
metrics = []
res = sloth(qdoc['content'], rdoc['content'], verbose=True, complete=True, metrics=metrics)
print('Number of distinct overlaps: ', len(res[0]))
for r in res[0]:
    print(tabulate.tabulate([[x] for x in r[1][0]]))

Detected 1 seed(s) in 0.010602712631225586 seconds.
Generated 0 candidate(s) in 0.0 seconds.
Verified 0 candidate(s) in 0.0 seconds.
Detected 1 largest overlap(s) in 1.5974044799804688e-05 seconds.
Size of the detected largest overlap(s): 1 columns, 1 rows, 1 cells.
Total elapsed time: 0.01163792610168457 seconds.
                 0
0  25 October 1797
Number of distinct overlaps:  1
---------------
25 October 1797
---------------

In [30]:
qdoc['content'][8]

['7',
 'File:Avilés1.jpg',
 'Gabriel de Avilés,\n2nd Marquis of Avilés',
 '14 March 1799 &ndash; 20 May 1801',
 '25 October 1797',
 '']

In [31]:
rdoc['content'][58]

['25 October 1797',
 'Leicestershire',
 'u*',
 'Penn Assheton Curzon',
 'George Anthony Legh Keck',
 'Death']

In [26]:
res

([([(8, 58)], [('25 October 1797',)])],
 [1,
  0.012362480163574219,
  'e',
  None,
  4.5299530029296875e-06,
  0,
  0.0,
  0,
  0.0,
  1,
  1,
  1,
  1,
  0.012433290481567383])

Examples:

--> same topic, 2012 European Athletics Championships - Women's 4x100 metres relay, results FINAL vs ROUND-1
query 766881, result 766450